a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.clear{
    overflow: hidden;
    clear: both;
}
.store_box{
    height: 120px;
    background-color: #ffffff;
}
.merchant_logo{
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: 10px;
    background-position:center;
}
.content_box{
    color: #000000;
    height: 120px;
    margin-left: 110px;
}
.carStore{
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    overflow: hidden;
    margin-top: 40px;
    margin-right: 5px;
}
.wire{
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    background-color: #e3e3e3;
}