a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.clear{
    overflow: hidden;
    clear: both;
}
.menu_box{
    font-size: 16px;
    float: left;
    clear: both;
    text-align: center;
    color: #000000;
    width: 100%;
    height: 50px;
    margin: 0px;
    position:fixed;
    bottom:0px;
    left: 0px;
    z-index: 99;
    background-color: #fafafa;
    border-color: transparent;
}
.menu{
    display: block;
    float: left;
    color: #474747;
    line-height: 50px;
    width: 25%;
    height: 100%;
}
.wire2{
    position: fixed;
    bottom:50px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
}
.wire2_left{
    position: fixed;
    bottom:0px;
    left: 25%;
    z-index: 9999;
    width: 1px;
    height: 50px;
    background-color: #bdbdbd;
}
.wire2_center{
    position: fixed;
    bottom:0px;
    left: 50%;
    z-index: 9999;
    width: 1px;
    height: 50px;
    background-color: #bdbdbd;
}
.wire2_right{
    position: fixed;
    bottom:0px;
    left: 75%;
    z-index: 9999;
    width: 1px;
    height: 50px;
    background-color: #bdbdbd;
}
.option{
    width: 95%;
    height: 40px;
    font-size: 16px;
    color: #3a3a3a;
    background-color: #ffffff;
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    margin: 10px auto;
}
.nav-width{
    float: left;
    display: block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.active{
    color: #ffffff;
    font-size: 16px;
    background-color: #3a3a3a;
    border-radius: 10px 0 0 10px;
}
.actives{
    color: #ffffff;
    font-size: 16px;
    background-color: #3a3a3a;
    border-radius: 0 10px 10px 0;
}
.ticket{
    width: 95%;
    height: 130px;
    color: #000000;
    border-radius: 5px;
    margin: 20px auto;
    background-image: url("../../icon/ticket_bg.png");
    background-position: center;
    position: relative;
}
.ticket_image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 35px auto auto 20px;
}
.ticket_left{
    float: left;
    width: 80px;
}
.tel{
    margin-top: 12px;
    margin-left: 10px;
}
.ticket_center{
    float: left;
    margin-left: 60px;
    width: 50%;
}
.store_name{
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    overflow: hidden;
}
.free_ticket_right{
    float: right;
    width: 50%;
}
.discount{
    margin-top: 20px;
    color: #e5cc7c;
    font-size: 28px;
}
.free{
    margin-top: 30px;
    color: #e5cc7c;
    font-size: 28px;
}
.date{
    margin-top: 15px;
    font-size: 14px;
    color: #b1b1b1;
}
.examine_image{
    width: 50px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    background-color: #e5cc7c;
    border-radius: 3px;
    position: absolute;
    z-index: 9;
    top: -10px;
    right: 1%;
}
.box{
    position: relative;
    /*border: 1px solid red;*/
}
