a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
.clear{
    overflow: hidden;
    clear: both;
}
/*Alignment */
.align_left {
    display: inline;
    float: left;
}
.align_right {
    display: inline;
    float: right;
}
.align_center{
    clear: both;
    display: block;
    margin:auto;
}
.logo{
    width: 100%;
    height: 240px;
    background-size: 100%;
    background-image: url("../../icon/home_bg.png");
    background-position: center;
}
.menu_box{
    font-size: 16px;
    float: left;
    clear: both;
    text-align: center;
    color: #000000;
    width: 100%;
    height: 50px;
    margin: 0px;
    position:fixed;
    bottom:0px;
    left: 0px;
    z-index: 99;
    background-color: #fafafa;
    border-color: transparent;
}
.menu{
    display: block;
    float: left;
    color: #474747;
    line-height: 50px;
    width: 25%;
    height: 100%;
}
.wire2{
    position: fixed;
    bottom:50px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
}
.wire2_left{
    position: fixed;
    bottom:0px;
    left: 25%;
    z-index: 9999;
    width: 1px;
    height: 50px;
    background-color: #bdbdbd;
}
.wire2_center{
    position: fixed;
    bottom:0px;
    left: 50%;
    z-index: 9999;
    width: 1px;
    height: 50px;
    background-color: #bdbdbd;
}
.wire2_right{
    position: fixed;
    bottom:0px;
    left: 75%;
    z-index: 9999;
    width: 1px;
    height: 50px;
    background-color: #bdbdbd;
}
.box{
    margin: 10px auto auto auto;
    background-color: #ffffff;
    width: 100%;
}
.icon_box{
    float: left;
    width: 33.33%;
    height: 130px;
}
.icon{
    margin-top: 20px;
    width: 60px;
    height: 60px;
}
.name{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #272727;
}
.wire{
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    background-color: #e3e3e3;
}
.wire_left{
    position: absolute;
    margin-top: 10px;
    width: 1px;
    height: 240px;
    margin-left: 33.33%;
    background-color: #e3e3e3;
}
.wire_right{
    position: absolute;
    margin-top: 10px;
    width: 1px;
    height: 240px;
    margin-left: 66.66%;
    background-color: #e3e3e3;
}
.wire_center{
    position: absolute;
    margin: 130px 2.5% auto 2.5%;
    width: 95%;
    height: 1px;
    background-color: #e3e3e3;
}