a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.clear{
    overflow: hidden;
    clear: both;
}
.privlege_box{
    height: 130px;
}
.wire{
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    background-color: #e3e3e3;
}
.store_box{
    height: 120px;
    background-color: #ffffff;
}
.merchant_logo{
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: 10px;
    background-position:center;
}
.content_box{
    color: #000000;
    height: 120px;
    margin-left: 120px;
}
.carStore{
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    overflow: hidden;
    margin-top: 25px;
    margin-right: 5px;
}
.addr_images{
    float: left;
    width: 18px;
    margin-top: 2px;
}
.addr{
    float: left;
    height: 25px;
    width: 60%;
    color: #949494;
    font-size: 16px;
    line-height: 25px;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 5px;
}
.distance{
    float: left;
    height: 25px;
    width: 50px;
    color: #949494;
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
}
.images{
    height: 170px;
    width: 100%;
    background-position:center;
}
.navigate{
    width: 100%;
    height: 30px;
    background-color: #000000;
    position:relative;
    top:140px;
    left: 0px;
    opacity: 0.2;
}
.addr_distance{
    position:relative;
    top:110px;
    left: 0px;
}
.navigate_carStore{
    float: left;
    color: #ffffff;
    margin-left: 10px;
    font-size: 18px;
    line-height: 30px;
}
.navigate_distance{
    float: right;
    margin-right: 10px;
    color: #e3e3e3;
    font-size: 18px;
    line-height: 30px;
}
.address{
    font-size: 18px;
}
.addr_name{
    float: left;
    width: 40px;
    margin: 15px auto 15px 10px;
}
.type_addr{
    float: right;
    width: 75%;
    margin: 15px 10px 15px auto;
}
.type_box{
    height: 50px;
    font-size: 18px;
    line-height: 50px;
}
.type_name{
    float: left;
    width: 20%;
    margin-left: 10px;
}
.type_content{
    float: right;
    width: 65%;
    text-align: right;
    margin-right: 10px;
}
/*.services{*/
    /*font-size: 18px;*/
    /*padding: 15px 5px;*/
/*}*/
/*.item{*/
    /*font-size: 18px;*/
    /*padding-left: 5px;*/
    /*float: left;*/
    /*width: 15%;*/
/*}*/
.primary{
    font-size: 18px;
    color: #000000;
    float: left;
    width: 33%;
    margin-left: 10px;
}
.vip{
    font-size: 18px;
    color: #d52828;
    text-align: center;
    float: left;
    width: 37%;
}
.buy{
    float: right;
    width: 20%;
    height: 50px;
}
.purchase{
    float: right;
    display: block;
    border-radius: 5px;
    font-size: 18px;
    width: 60px;
    height: 30px;
    color: #ffffff;
    background-color: #d52828;
    margin-top: 8px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
}
.add_car{
    font-size: 18px;
    float: left;
    clear: both;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    height: 45px;
    width: 100%;
    margin: 0px;
    position:fixed;
    bottom:0px;
    left: 0px;
    background-color: #0f0f0f;
    border-color: transparent;
}
.list_box{
    color: #000000;
    height: 60px;
}
.car_name{
    width: 50%;
    float: left;
    text-align: left;
    text-indent: 10px;
    font-size: 18px;
    line-height: 60px;
}
.state_card{
    width: 50%;
    float: right;
    font-size: 18px;
    line-height: 60px;
    text-indent: 20%;
}
.ticket{
    width: 95%;
    height: 150px;
    color: #000000;
    border-radius: 5px;
    margin: 20px auto;
    background-color: #ffffff;
    position: relative;
}
.ticket_image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 45px auto auto 10px;
}
.store_name{
    color: #000000;
    font-size: 16px;
    line-height: 150px;
    overflow: hidden;
}
.coupon{
    width: 28px;
    margin-top: 64px;
    margin-left: 5px;
}
.box{
    background-color: #ffffff;
}
.genre_box{
    height: 45px;
    width: 100%;
}
.ticket_left{
    float: left;
    width: 80px;
}
.ticket_center{
    float: left;
    width: 33.33%;
}
.ticket_coupon{
    float: left;
    width: 30px;
}
.ticket_right{
    float: right;
    width: 23.33%;
}
.number{
    font-size: 30px;
}
.discount{
    color: #e52828;
    font-size: 16px;
    text-align: right;
    line-height: 150px;
    margin-right: 10px;
}
.state_image{
    width: 60px;
    margin-top: 30px;
    margin-left: 30%;
    border-radius: 100%;
}
.genre{
    width: 45%;
    float: left;
    color: #646464;
    font-size: 16px;
    line-height: 45px;
    padding-left: 10px;
}
.code_box{
    float: right;
    width: 50%;
}
.values{
    float: right;
    font-size: 16px;
    line-height: 45px;
    text-align: right;
    padding-right: 10px;
}
.reminder{
    font-size: 16px;
    color: #949494;
    margin: 25px 10px 80px 10px;
}
.payment_hint{
    font-size: 16px;
    text-align: center;
    margin: 40px auto 20px auto;
}
.barcode_box{
    width: 200px;
    margin: 60px auto;
}
.barcode {
    width: 200px;
}
.wire2{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    border: 1px dashed #e3e3e3;
}
.examine_image{
    width: 40px;
    position: absolute;
    z-index: 9999;
    top: 0px;
    right: 0px;
}
.arrows{
    display: inline;
    float: right;
    padding-top: 5px;
    margin-right: 10px;
}
.code{
    display: inline;
    float: right;
    padding-top: 2px;
    margin-right: 15px;
}