a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.clear{
    overflow: hidden;
    clear: both;
}
.genre_box{
    height: 60px;
}
.spot{
    float: left;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin-top: 24px;
    margin-left: 15px;
    background-color: #0f0f0f;
}
.genre{
    float: left;
    height: 60px;
    width: 30%;
    color: #646464;
    font-size: 16px;
    line-height: 60px;
    padding-left: 10px;
}
.values{
    float: left;
    height: 60px;
    width: 50%;
    line-height: 60px;
    font-size: 16px;
}
.wire{
    width: 1px;
    height: 30px;
    margin-left: 18px;
    background-color: #e3e3e3;
}
.wire2{
    float: left;
    width: 1px;
    height: 30px;
    margin-left: 18px;
    background-color: #e3e3e3;
}
.total_box{
    margin-top: 5px;
}
.original_price{
    float: left;
    font-size: 16px;
    line-height: 60px;
    width: 30%;
}
.actually_paid{
    float: left;
    color: #d52828;
    font-size: 16px;
    padding-left: 10px;
    line-height: 60px;
    width: 25%;
}
.vertical_bar{
    position: fixed;
    top:0px;
    left: 19px;
    z-index: 0;
    width: 1px;
    height: 100%;
    background-color: #000000;
}