a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.clear{
    overflow: hidden;
    clear: both;
}
.ticket{
    width: 95%;
    height: 150px;
    color: #000000;
    border-radius: 5px;
    margin: 20px auto;
    background-color: #ffffff;
    position: relative;
}
.ticket_image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 25px auto auto 10px;
}
.ticket_left{
    float: left;
    width: 80px;
}
.ticket_right{
    float: right;
    width: 50%;
}
.discount{
    font-size: 22px;
    text-align: right;
    margin-top: 55px;
    margin-right: 10px;
}
.date{
    margin-top: 30px;
    margin-right: 10px;
    text-align: right;
}
.examine_image{
    width: 40px;
    position: absolute;
    z-index: 9999;
    top: 0px;
    right: 0px;
}
.box{
    background-color: #ffffff;
}
.genre_box{
    height: 45px;
    width: 100%;
}
.genre{
    width: 45%;
    float: left;
    color: #646464;
    font-size: 16px;
    line-height: 45px;
    padding-left: 10px;
}
.values{
    float: right;
    font-size: 16px;
    line-height: 45px;
    text-align: right;
    padding-right: 10px;
}
.wire{
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    background-color: #e3e3e3;
}
.code_box{
    float: right;
    width: 50%;
}
.arrows{
    display: inline;
    float: right;
    width:15px;
    padding-top: 10px;
    margin-right: 10px;
}
.code{
    display: inline;
    float: right;
    width:25px;
    height:25px;
    padding-top: 10px;
    margin-right: 15px;
}
.reminder{
    font-size: 16px;
    text-align: center;
    color: #949494;
    margin-top: 40px;
}