<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>品牌选择</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/carSteward.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>

<foreach name="cars" item="car" >
    <if condition="$car.has_second eq 0">
        <a href="applyCarView?brand={$car.first_code}&type=0001&brandName={$car.name}&typeName=" class="myCard">
        <else />
        <a href="carBrandTypes?type={$car.first_code}&brandName={$car.name}" class="myCard">
    </if>
            <div class="list_box clear">
                <img src="__PUBLIC__/logo/{$car.image}" alt="" class="car_logo">
                <span class="car_name">{$car.name}</span>
                <img class="select_images" src="__PUBLIC__/icon/arrow.png" alt="" width="20px">
            </div>
        </a>
    <div class="wire"></div>
</foreach>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/wx/wxOperate.js"></script>
<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList : []
    });
    operate.initCloseShare();

</script>
</body>
</html>