<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>汽车美容</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/privilegeServe.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="clear">
    <div class="number">1</div>
    <div class="details">精洗车辆</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">2</div>
    <div class="details">内饰清洁</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">3</div>
    <div class="details">漆面抛光、打蜡</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">4</div>
    <div class="details">漆面镀膜、镀晶</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">5</div>
    <div class="details">汽车隔热膜</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">6</div>
    <div class="details">改色贴膜</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">7</div>
    <div class="details">汽车表面透明膜</div>
</div>
<div class="wire"></div>
<div style="height: 45px"></div>
<div class="menu_box clear">
    <a href="tel:4008693911" class="menu">联系管家</a>
    <a href="showShopPay?shop_id={$shop_id}" class="menu">我要结账</a>
</div>
<div class="wire2_center"></div>
</body>
</html>



