<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>爱车信息</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/carSteward.css?v=2">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="list_box clear">
    <div class="genre">姓名</div>
    <div class="worth">{$car.name}</div>
</div>
<div class="wire"></div>
<div class="list_box clear">
    <div class="genre">电话</div>
    <div class="worth">{$car.mobile}</div>
</div>
<div class="wire"></div>
<div class="list_box clear">
    <div class="genre">车牌</div>
    <div class="worth">{$car.plate_number}</div>
</div>
<div class="wire"></div>
<div class="list_box clear">
    <div class="genre">车型</div>
    <div class="worth">{$car.car_type}</div>
</div>
<div class="wire"></div>
<div class="list_box clear">
    <div class="genre">行驶证</div>
    <img class="steer_images" src="{$car.driving_license_url}" width="40px">
</div>
<div class="wire"></div>

<if condition="$car.state eq 1">
    <div class="privlege_box">
        <div class="audit">正在审核</div>
        <div class="state_info">您的爱车将在1——2个工作日内审核，我们会通过公众号发送通知。</div>
    </div>
    <else/>
    <a href="getCarRecordList?car_id={$car.id}" class="add_car">查看消费记录</a>
</if>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/wx/wxOperate.js"></script>
<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList : []
    });
    operate.initCloseShare();
</script>
</body>
</html>