<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>车店详情</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/carShopDetails.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body style="background-color: #f1f1f1">
    <div class="images" style="background-image:url('__PUBLIC__/icon/carWash.png'); background-size:100%;">
        <div class="navigate clear"></div>
        <div class="addr_distance">
            <span class="navigate_carStore">{$shop_name}</span>
            <span class="navigate_distance"></span>
        </div>
    </div>
    <div class="box">
        <div class="address clear">
            <div class="addr_name">地址</div>
            <div class="type_addr">{$address}</div>
        </div>
    </div>
    <a href="tel:4008693911">
        <div class="add_car">
            <img class="btn" src="__PUBLIC__/icon/btn_telephone.png" alt="">
            <span class="shout">一键呼叫管家</span>
        </div>
    </a>
</body>

<script>

    $(function(){
        getLocation();
    });

    var curPosition;

    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }

    function showPosition(position)
    {
        curPosition = position;
        $('.navigate_distance').html(GetDistance({$latitude},{$longitude})+"km");
    }

    function Rad(d){
        return d * Math.PI / 180.0;//经纬度转换成三角函数中度分表形式。
    }
    //计算距离，参数分别为第一点的纬度，经度；第二点的纬度，经度
    function GetDistance(lat1,lng1){

        if(!curPosition){
            return;
        }

        var lat2=curPosition.coords.latitude,lng2=curPosition.coords.longitude;

        var radLat1 = Rad(lat1);
        var radLat2 = Rad(lat2);
        var a = radLat1 - radLat2;
        var  b = Rad(lng1) - Rad(lng2);
        var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) +
                Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
        s = s *6378.137 ;// EARTH_RADIUS;
        s = Math.round(s * 10000) / 10000; //输出为公里
        s=s.toFixed(2);
        return s;
    }

</script>

</html>