<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>消费详情</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/consumption.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body style="background-color: #ebebeb">
<div class="genre_box">
    <div class="spot"></div>
    <div class="genre">爱车</div>
    <div class="values">{$record.car_type}</div>
</div>
<div class="genre_box">
    <div class="spot"></div>
    <div class="genre">日期</div>
    <div class="values">{$record.use_date}</div>
</div>
<div class="genre_box">
    <div class="spot"></div>
    <div class="genre">商家</div>
    <div class="values">{$record.shop_name}</div>
</div>
<div class="genre_box">
    <div class="spot"></div>
    <div class="genre">联系电话</div>
    <div class="values">{$record.shop_phone}</div>
</div>
<div class="genre_box">
    <div class="spot"></div>
    <div class="genre">服务项目</div>
    <div class="values">{$record.goods_name}</div>
</div>

<div class="genre_box">
    <div class="spot"></div>
    <div class="genre">合计</div>
    <div class="original_price">原价:{$record.original_price}元</div>
    <div class="actually_paid">实付:{$record.total_fee}元</div>
</div>
<div class="vertical_bar"></div>

</body>
</html>