<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>我的电子券</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/carTicket.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>

</head>
<body>

<volist name="list" id="order">

    <if condition="$order.goods_id neq 0">
        <a href="getOrderDetail?order_id={$order.id}">
            <div class="ticket clear">
                <div class="ticket_left">
                    <img class="ticket_image" src="__ROOT__/Uploads/{$order.shop_image_thumb}" alt="">
                </div>
                <div class="ticket_center">
                    <div class="store_name">{$order.shop_name}</div>
                </div>
                <div class="ticket_coupon">
                    <img class="coupon" src="__PUBLIC__/icon/coupon.png" alt="">
                </div>
                <div class="ticket_right">
                    <div class="discount"><span class="number">{$order.OFF}</span>折</div>
                </div>
                <if condition="$order.state eq 1">
                    <img class="examine_image" src="__PUBLIC__/icon/usable.png" alt="">
                    <else/>
                    <img class="examine_image" src="__PUBLIC__/icon/unused.png" alt="">
                </if>
            </div>
        </a>
        <else/>
        <a>
            <div class="ticket clear">
                <div class="ticket_left">
                    <img class="ticket_image" src="__ROOT__/Uploads/{$order.shop_image_thumb}" alt="">
                    <div class="tel">{$order.shop_phone}</div>
                </div>
                <div class="ticket_center">
                    <div class="store_name">{$order.shop_name}</div>
                </div>
                <div class="ticket_right">
                    <div class="discount"><span class="number">{$order.total_fee}</span>元</div>
                    <div class="date">{$order.pay_date}</div>
                </div>
                <img class="examine_image" src="__PUBLIC__/icon/unused.png" alt="">
            </div>
        </a>
    </if>

</volist>


</body>
</html>