<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>选择爱车</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/notCar.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="more">您还没有爱车</div>
<a href="applyCar" class="contact">添加爱车</a>
</body>
</html>



