<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>特权</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/privilege.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body style="background-color: #ebebeb">
    <div class="logo"></div>

    <div class="box clear">
        <a href="otherServer?category=4">
            <div class="icon_box">
                <img class="align_center icon" src="__PUBLIC__/icon/home_chuxian.png" alt="">
                <div class="name">出险代办</div>
            </div>
        </a>
        <a href="repairShops">
            <div class="icon_box">
                <img class="align_center icon" src="__PUBLIC__/icon/home_weixiu.png" alt="">
                <div class="name">维修保养</div>
            </div>
        </a>
        <a href="getShops">
            <div class="icon_box">
                <img class="align_center icon" src="__PUBLIC__/icon/home_car.png" alt="">
                <div class="name">豪车美容</div>
            </div>
        </a>
        <a href="otherServer?category=2">
            <div class="icon_box">
                <img class="align_center icon" src="__PUBLIC__/icon/home_bijia.png" alt="">
                <div class="name">保险比价</div>
            </div>
        </a>
        <a href="otherServer?category=1">
            <div class="icon_box">
                <img class="align_center icon" src="__PUBLIC__/icon/home_inquiry.png" alt="">
                <div class="name">在线问诊</div>
            </div>
        </a>
        <a href="otherServer?category=3">
            <div class="icon_box">
                <img class="align_center icon" src="__PUBLIC__/icon/home_nianshen.png" alt="">
                <div class="name">年审代办</div>
            </div>
        </a>
        <div class="wire_left"></div>
        <div class="wire_right"></div>
        <div class="wire_center"></div>
    </div>

    <div style="height: 80px"></div>
    <div class="menu_box clear">
        <a class="menu" style="background-color: #e9e9e9">特权</a>
        <a href="recordHome" class="menu">记录</a>
        <a href="userHome" class="menu">会员</a>
        <a href="stewardHome" class="menu">管家</a>
    </div>
    <div class="wire2"></div>
    <div class="wire2_left"></div>
    <div class="wire2_center"></div>
    <div class="wire2_right"></div>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/wx/wxOperate.js"></script>
<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList : []
    });
    operate.initCloseShare();
</script>
</body>
</html>