<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>记录</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/order.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>

<body style="background-color: #ebebeb">

    <div class="option">
        <if condition="$isHasPay eq 0">
            <a onclick="getList(1)"><span class="nav-width">服务中</span></a>
            <a onclick="getList(2)"><span  class="nav-width active">已服务</span></a>
            <else/>
            <a onclick="getList(1)"><span class="nav-width active">服务中</span></a>
            <a onclick="getList(2)"><span  class="nav-width">已服务</span></a>
        </if>
    </div>
    <volist name="list" id="order">
        <if condition="$order.coupon_id gt 0">
            <div class="box">
                <a href="getCouponDetail?coupon_id={$order.coupon_id}">
                    <div class="ticket clear">
                        <div class="ticket_left">
                            <img class="ticket_image" src="__PUBLIC__/icon/carWash.png" alt="">
                        </div>
                        <div class="ticket_center">
                            <div class="free">免费精洗券</div>
                            <div class="date">{$order.date}</div>
                        </div>
                    </div>
                </a>
                <div class="examine_image"><span>已服务</span></div>
            </div>
        <else/>
            <div class="box">
                <a href="getOrderDetail?order_id={$order.id}">
                    <div class="ticket clear">
                        <div class="ticket_left">
                            <img class="ticket_image" src="__ROOT__/Uploads/{$order.shop_image_thumb}" alt="">
                        </div>
                        <div class="ticket_center">
                            <div class="discount"><span class="number">{$order.total_fee}</span>元</div>
                            <div class="store_name">{$order.shop_name}</div>
                            <div class="date">{$order.date}</div>
                        </div>
                    </div>
                </a>
                <if condition="$isHasPay eq 0">
                    <div class="examine_image"><span>已服务</span></div>
                    <else/>
                    <div class="examine_image"><span>可使用</span></div>
                </if>
            </div>
        </if>
    </volist>

    <div class="menu_box clear">
        <a href="privilegeHome" class="menu">特权</a>
        <a class="menu" style="background-color: #e9e9e9">记录</a>
        <a href="userHome" class="menu">会员</a>
        <a href="stewardHome" class="menu">管家</a>
    </div>
    <div class="vertical_bar"></div>
    <div style="height: 80px"></div>
    <div class="wire2"></div>
    <div class="wire2_left"></div>
    <div class="wire2_center"></div>
    <div class="wire2_right"></div>
</body>

<script>
    function getList(category){

        if(category == 1){
            location.href = 'recordHome';
        }else{
            location.href = 'getHasUseOrderList';
        }
    }
</script>

</html>