<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>记录</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/carSteward.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>

<body style="background-color: #ebebeb">

<volist name="list" id="order">
    <a href="getRecordDetail?order_id={$order.id}">
        <div class="ticket clear">
            <div class="ticket_left">
                <img class="ticket_image" src="__ROOT__/Uploads/{$order.shop_image_thumb}" alt="">
            </div>
            <div class="ticket_center">
                <div class="store_name">{$order.shop_name}</div>
                <div class="tel">{$order.mobile}</div>
                <div class="date">{$order.use_date}</div>
            </div>
            <div class="ticket_right">
                <img class="state_image" src="../images/221446476438.jpg" alt="">
            </div>
        </div>
    </a>
</volist>

<div class="menu_box clear">
    <a href="privilegeHome" class="menu">特权</a>
    <a class="menu" style="background-color: #cccccc">记录</a>
    <a href="userHome" class="menu">会员</a>
    <a href="stewardHome" class="menu">管家</a>
</div>
<div class="wire2"></div>
<div class="wire2_left"></div>
<div class="wire2_center"></div>
<div class="wire2_right"></div>
</body>

</html>