<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>道路救援</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/privilegeServe.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="clear">
    <div class="number">1</div>
    <div class="details">搭电救援</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">2</div>
    <div class="details">充气补胎</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">3</div>
    <div class="details">现场送油</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">4</div>
    <div class="details">拖车服务</div>
</div>
<div class="wire"></div>
<div style="height: 45px"></div>
<a href="tel:0755-84356032" class="add_car">一键呼叫管家</a>
</body>
</html>



