<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>记录</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/carSteward.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body style="background-color: #ebebeb">
<volist name="list" id="order">
    <div class="details_box clear">
        <div class="date">{$order.use_date}</div>
        <div class="spot"></div>
        <a href="getRecordDetail?order_id={$order.id}">
            <div class="ticket">
                <div class="ticket_left">
                    <img class="ticket_image" src="__ROOT__/Uploads/{$order.shop_image_thumb}" alt="">
                </div>
                <div class="ticket_center">
                    <div class="store_name">{$order.shop_name}</div>
                    <div class="tel">{$order.mobile}</div>

                </div>
                <div class="ticket_right">
                    <img class="state_image" src="__PUBLIC__/icon/rightarrow.png" alt="">
                </div>
            </div>
        </a>
    </div>
</volist>
<div class="vertical_bar"></div>
</body>
</html>