<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>券详情</title>
    <link rel="stylesheet" href="__PUBLIC__/css/wx/carTicket.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>

    <div class="ticket clear">
        <div class="ticket_left">
            <img class="ticket_image" src="__ROOT__/Uploads/{$shop.shop_image_thumb}" alt="">
        </div>
        <div class="ticket_center">
            <div class="store_name">{$shop.name}</div>
        </div>
        <div class="ticket_coupon">
            <img class="coupon" src="__PUBLIC__/icon/coupon.png" alt="">
        </div>
        <div class="ticket_right">
            <div class="discount"><span class="number">{$order.OFF}</span>折</div>
        </div>

        <if condition="$isDetail eq 1">
            <if condition="$order.state eq 1">
                <img class="examine_image" src="__PUBLIC__/icon/usable.png" alt="">
                <else/>
                <img class="examine_image" src="__PUBLIC__/icon/unused.png" alt="">
            </if>
        </if>

    </div>

    <div class="box">
        <div class="genre_box">
            <div class="genre">效验码</div>
            <div class="values">{$order.out_trade_no}</div>
        </div>
        <div class="wire"></div>
        <div class="genre_box">
            <div class="genre">商家</div>
            <div class="values">{$shop.shop_name}</div>
        </div>
        <div class="wire"></div>
        <div class="genre_box">
            <div class="genre">联系电话</div>
            <div class="values">{$shop.shop_phone}</div>
        </div>
        <div class="wire"></div>
        <div class="genre_box">
            <div class="genre">服务项目</div>
            <div class="values">洗车</div>
        </div>
        <div class="wire"></div>
        <div class="genre_box">
            <div class="genre">消费金额</div>
            <div class="values">{$goods.discount_price}</div>
        </div>
        <div class="wire"></div>
        <div class="genre_box">
            <div class="genre">服务车辆</div>
            <div class="values">{$car.car_type}</div>
        </div>
    </div>

    <div class="reminder">效验码须提供给商家，以便于商家确认为你服务</div>
<if condition="$isDetail neq 1">
    <a onclick="jsApiCall()" class="add_car">确认购买</a>
</if>


</body>

<script type="text/javascript">
    function jsApiCall()
    {
        WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$jsApiParameters},
                function(res){
                    //支付成功
                    if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                        window.location = 'paySuccessAndGetOrderList?out_trade_no={$order.out_trade_no}'
                    }else{
                        WeixinJSBridge.log(res.err_msg);
                        alert(res.err_code+res.err_desc+res.err_msg);
                    }
                }
        );
    }

</script>

</html>