
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <script src="../js/jquery-2.2.0.min.js" ></script>
    <link href="../css/website.css" rel="stylesheet">
    <script src="../js/bootstrap.min.js"></script>
    <title>品位环球官网</title>

</head>
<body>
<div class="head">
    <div class="box">
        <div>
            <img class="images" src="../images/logo.png" alt=""/>
            <img class="name" src="../images/name.png" alt=""/>
        </div>
        <div class="introduce">高端商务私人管家服务平台</div>
        <div class="english_introduce">Personal Butler Service Provider</div>
    </div>
</div>
<div class="regard_box clear">
    <img class="regard_image" src="../images/about.png" alt=""/>
    <div class="regard_content">
        <div class="regard">关于品位环球</div>
        <div class="english_regard">About Luxery Globe</div>
        <div class="regard_contents">“品位•环球”是一个专为高端商务人士打造的私人管家服务平台，以“互联网+”的理念，为商务人士的现代精品生活提供涵盖衣食住行各方面的定制式服务。24小时私人管家服务联合旗下多家各行业精英服务提供商，专业、专注的为客户打理生活点滴。</div>
    </div>
</div>
<div class="service"><span class="primacy">O</span>UR SERVICE</div>
<div class="clear">
    <div class="wire_left"></div>
    <div class="services_centre">我们的服务</div>
    <div class="wire_right"></div>
</div>
<div class="service_box clear">
    <div class="service_left">
        <img src="../images/car.png" alt="">
        <div class="service_content">豪车管家：为中高端车车主提供全方位的爱车护理，从洗车，到维修，保养，保险等各项服务均有专人对接服务，24小时热线电话专业问诊，平台现已引进多家深圳高端系列车维护保养连锁店，及保险代理，全程豪车管家陪护，让车主省心省力的享受驾驶乐趣</div>
        <div class="service_name">豪车管家</div>
    </div>
    <div class="service_left">
        <img src="../images/food.png" alt="">
        <div class="service_content">高端餐饮及活动预订：品位环球将与多家国际高端餐饮娱乐服务提供商联盟，为用户提供高端餐饮，娱乐活动预订等便捷服务,用户除可享受独家折扣价格之外，还可享受商家VIP礼遇（商家不同，具体礼遇项目不同） </div>
        <div class="service_name">高端餐饮</div>
    </div>
    <div class="service_left">
        <img src="../images/tour.png" alt="">
        <div class="service_content">高端旅游预订：品位环球将为客户提供独家定制国际国内高端旅游线路，告别传统的旅游形式，走最适合你的路，看最美最稀有的风景</div>
        <div class="service_name">高端旅游</div>
    </div>
</div>
<div class="middle">
    <div style="height: 20px"></div>
    <div class="introduce">关于“豪车管家”会员</div>
    <div class="english_introduce">Car Butler Membership</div>
</div>
<div class="service"><span class="primacy">M</span>ember</div>
<div class="clear">
    <div class="wire_left"></div>
    <div class="services_centre">我们的会员</div>
    <div class="wire_right"></div>
</div>
<div class="register_introduce">注册成为“品位•环球”尊贵的会员，您将享有平台内所有联盟商家提供的会员VIP礼遇，无需另外办理门店会员卡。</div>
<div class="middle2">
    <div class="middle2_box clear">
        <div class="explain_icon">
            <img class="align_center" src="../images/icon_liberty.png" alt="">
            <div class="explain">特权</div>
        </div>
        <div class="explain_icon">
            <img class="align_center" src="../images/icon_note.png" alt="">
            <div class="explain">记录</div>
        </div>
        <div class="explain_icon">
            <img class="align_center" src="../images/icon_vip.png" alt="">
            <div class="explain">会员</div>
        </div>
        <div class="explain_icon">
            <img class="align_center" src="../images/icon_manager.png" alt="">
            <div class="explain">管家</div>
        </div>
    </div>
</div>
<div class="member_box clear">
    <div class="member">豪车管家24小时电话问诊及资讯，专业的豪车管家将为您提供一切关于您爱车的最佳解决方案。</div>
    <div class="member">会员卡价格享受爱车精洗项目，无需再办理门店会员卡。此礼遇适用于全平台联盟商家。</div>
    <div class="member">豪车维修与保养将由专业的豪车管家为您一站式打理，轻松，高效的完成每一个环节。</div>
    <div class="member">品位•环球”作为第三方服务平台将为本平台所有联盟商家的服务及产品做质量担保，杜绝任何虚假，伪劣产品，为会员权益提供双重保证。</div>
</div>
<div class="car_icon_box clear">
    <div class="car_icon">
        <img class="align_center" src="../images/partner-1.png" alt="">
        <div class="car_name">奔驰</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-2.png" alt="">
        <div class="car_name">奥迪</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-3.png" alt="">
        <div class="car_name">宝马</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-4.png" alt="">
        <div class="car_name">大众</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-5.png" alt="">
        <div class="car_name">法拉利</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-6.png" alt="">
        <div class="car_name">路虎</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-7.png" alt="">
        <div class="car_name">保时捷</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-8.png" alt="">
        <div class="car_name">宾利</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-9.png" alt="">
        <div class="car_name">劳斯莱斯</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-10.png" alt="">
        <div class="car_name">兰博基尼</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-11.png" alt="">
        <div class="car_name">玛莎拉蒂</div>
    </div>
    <div class="car_icon">
        <img class="align_center" src="../images/partner-12.png" alt="">
        <div class="car_name">林肯</div>
    </div>
</div>
<div class="feet">
    <div class="feet_box">
        <div class="company_details clear">
            <div class="company_content">公司：深圳市品位豪车汽车服务有限公司</div>
            <div class="company_contents">深圳市狮虎兽科技有限公司</div>
            <div class="company_content">地址：深圳市南山区海德一道88号中洲控股中心</div>
            <div class="company_content">网址：www.pinweihuanqiu.com</div>
            <div class="company_content">呼叫管家：400-8693-911</div>
        </div>
        <div class="qrcode">
            <img src="../images/two-dimension%20code.png" alt="">
            <div class="rich_scan">扫一扫关注我们</div>
        </div>
    </div>
    <div class="mark">粤ICP备15049839号-1</div>
</div>
</body>
</html>