body {
  background-color: #2d2d2e;
}

.group{
  padding: 0.5rem;
  background-color: #4a4a4c;
  height: 5rem;
  border-bottom-color: #ffffff;
  border-style: none none solid none;
  border-bottom-width: 1px;
}

.group-title{
  font-size: 16px;
  color: #ffffff;
}
.group-member-count{
  color: #949494;
  font-size: 12px
}

.member-count{
  width: 11px;
  height: 12px;
}


.save {
  font-size: 16px;
  float: left;
  clear: both;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin: 0px;
  position:fixed;
  bottom:0px;
  left: 0px;
  color: #ffffff;
  background-color: #dfb574;
  border-color: transparent;
}

.apply {
  float: left;
  clear: both;
  text-align: center;
  padding: 10px;
  position:fixed;
  bottom:50px;
  left: 10px;
  right: 10px;
  color: #ffffff;
  background-color: #dfb574;
  border-color: transparent;
}

a:visited {
  color:#ffffff;
  text-decoration:none;
}

.card-group-back{
  background-color: #4a4a4c;
  height: 50px;
  line-height: 50px;
  border-style: none none solid none;
  border-bottom-color: #000000;
  border-bottom-width: 1px;
}
.card-group-img{
  margin: 13px;
  width: 24px;
  height: 24px;
  float: left;
}

.card-group-name{
  font-size: 16px;
  color: #ffffff;
  text-align: left;
}

.white_back{
  background-color: #ffffff;
  height: 5rem;
}

.card{
  border-bottom-color: #dfb574;
  border-style: none none solid none;
  border-bottom-width: 1px;
}

.card img{
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  float: left;
}

.card > div{
  width: 80%;
  height: 100%;
  display: inline;
  float: left
}

.white_back img{
  margin: 1rem;
  width: 3rem;
  height: 3rem;
}

.content{
  margin-top: 0.7rem;
  width: 100%;
  line-height:1.3rem;
  height: 1.3rem;
  overflow:hidden;
}

.msg_content{
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 2px;
  color: #ffffff;
}
.input-class {
  width: 75%;
  margin-left: 10px;
  padding-left: 5px;
  border-style: none none solid none;
  border-bottom-color: transparent;
  background-color: transparent;
}
.modify_bottom_line {
  padding: 0px;
  margin: 0px 0px 0px 40px;
  border-color: #dfb574;
}

.content_title {
  margin-top: 0.2rem;
  display: inline;
}

#toast
{
  position: fixed;
  top: 200px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  border: 1px solid #666;
  background-color: #ffffff;
  padding: 10px 0 ;
  text-align:center;
  opacity: .9;

  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.top_title {
  color: #dfb574;
  margin: auto;padding-top: 1rem;"
}
.msg_title{
  height: 30px;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 14px;
  background-color: #000000;
  color: #dfb574;
  margin-top: 10px;
  margin-bottom: 5px;
}

.modify_content_title {
  float: left;
  display: inline;
  width: 30px;
  padding-top: 2px;
}

.dissolve {
  float: right;
  color: #ffffff;
  margin-right: 1.5rem;
  padding: 0.05rem 0.2rem 0.05rem 0.2rem;
  border: #dfb574 solid 1px;
}
.group_manager {
  padding-left: 0.5rem;
  margin-top: 1rem;
  color: #ffffff;

}

.group_name_div {
  float: left;
  width: 100%;
  height: 2rem;
}

.group_name {
  width: 20rem;
  float: left;
  padding-left: 0.5rem;
  padding-top:0.1rem;
  color: #ffffff;
}

.detail {
  color: gray;
  clear: both;
  padding: 0.5rem 0.5rem 0 0.5rem
}

.manager {
  text-align: center;
  position: absolute;
  margin-top: 1.5rem;
  right: 1rem;
  height: 2rem;
  display: block;
  width: 3rem;
  border:1px solid #dfb574;
  border-radius:0.5rem;
}

.member-share {
  float: left;
  clear: both;
  text-align: center;
  padding: 1rem;
  width: 43%;
  margin: 0px;
  position:fixed;
  bottom:0px;
  left: 0px;
  color: #ffffff;
  background-color: #dfb574;
  border-color: transparent;
}

.member-create {
  float: left;
  clear: both;
  text-align: center;
  padding: 1rem;
  width: 43%;
  margin: 0px;
  position:fixed;
  bottom:0px;
  right: 0px;
  color: #ffffff;
  background-color: #dfb574;
  border-color: transparent;
}

.apply-back {
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 380px;
  background: url(../../images/icon/bjcolor.png) no-repeat;
  background-size: 100% 100%
}

.apply-head {
  margin-top: 30px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: solid 2px rgba(255,255,255,0.8);
}

.apply-name {
  color: #ffffff;
  font-size: 16px;
  margin-top: 10px;
}

.apply-title {
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px;
}

.apply-content {
  text-align: left;
  line-height:23px;
  margin-left: 15px;
  margin-right: 15px;
  color: #ffffff;
  font-size: 13px;
  margin-top: 10px;

}