<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/ui/card.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <title>群名片夹</title>

    <script type="text/javascript">
        $(function () {
            $('.group').click(function () {
                window.location.href='cardGroupMembers?group_id='+$(this).attr('value');
            });

        })

    </script>

</head>
<body style="background-color: #f9f9f9">

<volist name="cards" id="group">

    <div value="{$group.id}" class="group">
        <div class="group-title">{$group.group_title}
            <span class="group-member-count">{$group.count}人</span>
            <img class="member-count" src="__PUBLIC__/images/icon/member.png" >
        </div>
    </div>

</volist>

<div style="height: 4rem"></div>

<a href="createCardGroupPage" class="save" >新建群通讯录</a>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/wx/wxOperate.js"></script>
<script>

    wx.config({
            debug: false,
            appId: '{$signPackage.appId}',
            timestamp: {$signPackage.timestamp},
        nonceStr: '{$signPackage.nonceStr}',
        signature: '{$signPackage.signature}',
        jsApiList : [ "onMenuShareTimeline", "onMenuShareAppMessage",
        "onMenuShareQQ", "onMenuShareWeibo" ]
    });
    operate.initCloseShare();

</script>
</body>
</html>