<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/ui/card.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <title>名片夹</title>

    <script type="text/javascript">
        var msg_title = "“三只松鼠”要开实体店了，从线上要走回线下？";
        var msg_desc = "36氪微信号：wow36kr编者按：本文经授权转载自峰瑞资本（freesvc）。提问人：李丰，峰瑞资本创始合";
        var msg_cdn_url = "http://mmbiz.qpic.cn/mmbiz/WRGz2LWLARAb0pnA8pHSuH6gYTN3DhibUfmEibaelvjOcm15AXb63HFiawArqfiaZjXVryHvJ7Md5YsayebJFdRxlQ/0?wx_fmt=jpeg";

        $(function () {
            $('#myCard').click(function () {
                window.location.href='modifyCardPage';
            });
            $('#cardGroup').click(function () {
                window.location.href='cardGroupHome';
            });

            $('.card').click(function(){
                alert($(this).attr('value'));
            });
        })

    </script>

</head>
<body>
    <div id="myCard" class="white_back">
        <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=128811874,840272376&fm=116&gp=0.jpg" >
        <p align="center" class="name ">我的名片</p>
    </div>

    <div id="cardGroup" style="margin-top: 1rem" class="white_back">
        <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=128811874,840272376&fm=116&gp=0.jpg" >
        <p align="center" class="name ">名片群</p>
    </div>
    <div style="margin-top: 1rem;"></div>

    <volist name="cardList" id="card">
        <div value="{$card.user_id}" class="white_back card">
            <img src="{$card.head_sub_image}" >
            <div>
                <div style="height: 1.3rem; margin-top: 0.6rem">{$card.name}</div>
                <div class="content">
                    <php>
                        echo $card['job']==null ? '暂无信息':$card['job'];
                        echo '/';
                        echo $card['company_name']==null?'暂无信息':$card['company_name'];
                    </php>
                </div>
            </div>
        </div>
    </volist>

</body>
</html>