<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/ui/card.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/share/mycard.css">
    <title>名片夹</title>
    <script type="text/javascript">
        $(function () {

            $('#zhezhao').click(function(){
                $('#zhezhao').css({display:"none"});
                $('#login').css({display:"none"});
            });
            $('#login').click(function(){
                $('#zhezhao').css({display:"none"});
                $('#login').css({display:"none"});
            });

            $('.card').click(function(){
                window.location.href='mycard?target_id='+$(this).attr('value');
            });
        })

        function share(){
            $('#zhezhao').css({display:"block"});
            $('#login').css({display:"block"});
        }

    </script>

</head>
<body style="background-color: #f9f9f9">

<div class="group" style="border-bottom-color: transparent;">
    <div class="group-title">{$group.group_title}
        <span class="group-member-count">{$group.count}人</span>
        <img class="member-count" src="__PUBLIC__/images/icon/member.png" >
    </div>
</div>

<div value="{$manager.id}" class="white_back card">
    <img src="{$manager.head_sub_image}" >
    <div>
        <div class="personal-card-name">{$manager.name}</div>
        <div class="content">
            <php>
                echo $manager['job']==null ? '暂无信息':$manager['job'];
                echo ' | ';
                echo $manager['company_name']==null?'暂无信息':$manager['company_name'];
            </php>
        </div>
    </div>
    <span class="manager">群主</span>
</div>

<volist name="cardList" id="card">
    <div value="{$card.id}" class="white_back card">
        <img src="{$card.head_sub_image}" >
        <div>
            <div class="personal-card-name">{$card.name}</div>
            <div class="content">
                <php>
                    echo $card['job']==null ? '暂无信息':$card['job'];
                    echo ' | ';
                    echo $card['company_name']==null?'暂无信息':$card['company_name'];
                </php>
            </div>
        </div>
    </div>
</volist>

<div style="height: 4rem"></div>
<a onclick="share()" class="member-share" >分享</a>
<a href="createCardGroupPage"  class="member-create" >新建圈通讯录</a>

<div class="zhezhao" id="zhezhao"></div>
<div class="login" id="login" style="background: url('__PUBLIC__/images/icon/fx.png') no-repeat top right">点击右上角菜单分享</div>

</body>
</html>