<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/ui/card.css" rel="stylesheet">
    <script src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
    <script src="__PUBLIC__/js/qrcode/qrcode.js"></script>
    <script src="__PUBLIC__/js/qrcode/qrcode_UTF8.js"></script>
    <script src="__PUBLIC__/js/qrcode/jquery.qrcode.js"></script>

    <title>添加{$userInfo.name}至通讯录</title>

    <script type="text/javascript">

        $(function(){
            $('#container').qrcode({
                render: 'image',
                "size": 250,
                "color": "#3a3",
                "text": "BEGIN:VCARD\n"+
                "VERSION:3.0\n"+
                "N;CHARSET=utf8:{$userInfo.name};;;;\n"+
                "ORG;CHARSET=utf8:{$userInfo.company_name}\n"+
                "TITLE;CHARSET=utf8:{$userInfo.job}\n"+
                "TEL;CELL;VOICE;CHARSET=utf8:{$userInfo.phone_num}\n"+
                "EMAIL;INTERNET;CHARSET=utf8:{$userInfo.web}\n"+
                "NOTE;CHARSET=utf8:QQ: {$userInfo.qq} 微信: {$userInfo.wechat}\n"+
                "URL;CHARSET=utf8:{$userInfo.web}\n"+
                "ADR;PREF;CHARSET=utf8:;;{$userInfo.address};;;;\n"+
                "END:VCARD"
            });
        })

    </script>
</head>
<body style="background-color: #e8e8e8">
<div class="dabox">
    <div class="username">Hello！<span style="color: #666666;font-size: 24px">我是{$userInfo.name}</span></div>
    <div id="container" style="text-align: center" class="codeimage" alt="" width="200px"></div>
    <div class="hint">长按识别二维码</div>
    <div class="hint">添加联系方式到通讯录</div>
    <div><a class="btn-submit" href="#" onclick="back()">返回</a></div>
    <div style="height: 20px"></div>
</div>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList : [ "onMenuShareTimeline", "onMenuShareAppMessage",
        "onMenuShareQQ", "onMenuShareWeibo" ]
    });

    function back(){
        wx.closeWindow();
    }

</script>

</body>
</html>