<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>详情</title>
    <link rel="stylesheet" href="__PUBLIC__/css/core/details.css" />
</head>
<body>
<div class="wrapper">
    <div id="header">
        <div class="details">详情</div>
    </div>
        <div class="images" style="background-image:url('__ROOT__/Uploads/{$circleList.circle_cover_image}'); background-size:100%;"></div>
    <div id="circleName" class="clear">
        <div class="name">{$circleList.circle_name}<span class="follow"><img class="like" src="__PUBLIC__/images/like_btn_normal@2x.png" alt="" width="18px" height="18px"/>{$circleList.follow_quantity}</span></div>
    </div>
    <div class="wire1"></div>
    <div class="clear">
        <p class="introduce">圈层介绍</p>
        <div class="intro">{$circleList.circle_detail}</div>
    </div>
    <div class="wire1"></div>
    <div class="clear">
        <img class="icon1" src="__PUBLIC__/images/icon_address@2x.png" alt=""/><p class="addr">{$circleList.address}</p>
    </div>
    <div class="wire2"></div>
    <div class="clear">
        <img class="icon2" src="__PUBLIC__/images/icon_phone@2x.png" alt=""/><p class="tel">{$circleList.phone_num}</p>
    </div>
    <div class="wire2"></div>
    <div class="clear">
        <img class="icon2" src="__PUBLIC__/images/icon_weixin@2x.png" alt=""/><p class="emsName">{$circleList.wx_num}
            <if condition="$circleList.wx_qrcode neq null">
                <img class="wx_qrcode" src="__ROOT__/Uploads/{$circleList.wx_qrcode}" alt="" width="40px" height="40px">
            </if>
        </p>
    </div>
    <div class="wire2"></div>
    <div class="clear">
        <img class="icon2" src="__PUBLIC__/images/icon_web@2x.png" alt=""/><p class="web">{$circleList.circle_web}</p>
    </div>
    <div class="wire1"></div>
    <div style="margin-left:28px;margin-top:20px;font-size:22px;">
        &nbsp; &nbsp;商务圈，全球高端商务圈层社交app，赶快下载成为我的好友吧！
    </div>
    <div>
        <a class="account-btn btn-submit" href="http://app.qq.com/#id=detail&appid=1104875299">点击下载</a>
    </div>
</div>
</body>
</html>
