.table-position-class {
    margin:10px auto;
}

.input-order {
    margin-left: 10px;
    width: 800px;
    margin-top: 10px;
    display: inline;
}

.button-order {
    margin-left: 15px;
    width: 150px
}

.car-decorate-font {
    font-size: 18px
}

.car-server-quantity {
    font-size: 24px;
    color: blue
}

.car-server-money {
    font-size: 24px;
    color: red
}

.shop-td-title {
    background-color: purple;
    color: #ffffff;
}

.look-up-all {
    text-align: center;
    margin: 30px auto;
    width: 1000px;
    background-color: blue;
    color: #ffffff;
    padding: 10px 10px;
    display: block
}

.confirm-order {
    text-align: center;
    margin: 30px auto;
    width: 300px;
    background-color: blue;
    color: #ffffff;
    padding: 10px 10px;
    display: block
}

.shop-left-top-title {
    background-color: blue;
    font-size: 15px;
    display: inline;
    color: #ffffff;
    padding: 7px;
    margin-left: 10px
}

.shop-car-quantity-shell {
    display: inline;
    margin-left: 80px
}
.shop-car-money-shell {
    display: inline;
    margin-left: 210px
}

