<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/system/systemhome.css" rel="stylesheet">
    <script src="../js/bootstrap.min.js"></script>
    <link href="../css/bootstrap/bootstrap-theme.css" rel="stylesheet">
    <title>管理系统</title>

</head>
<body>

<table class="table table-min-width" >
    <thead>
        <tr>
            <th class="user-list-title">张三</th>
            <th class="user-list-title">13888888888</th>
            <th class="user-list-title">狮虎兽科技</th>
            <th class="user-list-title">CEO</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th class="user-list-title">日期</th>
            <th class="user-list-title">金额</th>
            <th class="user-list-title">事件</th>
            <th class="user-list-title">状态</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">20</td>
            <td class="user-list-cell">我推荐了一名新用户</td>
            <td class="user-list-cell">未结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">10</td>
            <td class="user-list-cell">李四推荐了一名新用户</td>
            <td class="user-list-cell">未结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">20</td>
            <td class="user-list-cell">我推荐了一名新用户</td>
            <td class="user-list-cell">未结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">10</td>
            <td class="user-list-cell">李四推荐了一名新用户</td>
            <td class="user-list-cell">未结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">20</td>
            <td class="user-list-cell">我推荐了一名新用户</td>
            <td class="user-list-cell">未结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">10</td>
            <td class="user-list-cell">李四推荐了一名新用户</td>
            <td class="user-list-cell">未结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">20</td>
            <td class="user-list-cell">我推荐了一名新用户</td>
            <td class="user-list-cell" style="color: red">已结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">10</td>
            <td class="user-list-cell">李四推荐了一名新用户</td>
            <td class="user-list-cell" style="color: red">已结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">20</td>
            <td class="user-list-cell">我推荐了一名新用户</td>
            <td class="user-list-cell" style="color: red">已结算</td>
        </tr>
        <tr>
            <td class="user-list-cell">2013-12-12</td>
            <td class="user-list-cell" style="color: red">10</td>
            <td class="user-list-cell">李四推荐了一名新用户</td>
            <td class="user-list-cell" style="color: red">已结算</td>
        </tr>
    </tbody>
</table>

<div class="page-content">
    <span class="next-page">上一页</span>
    <span class="active-page">1</span>
    <span class="page">2</span>
    <span class="page">3</span>
    <span class="page">4</span>
    <span class="page">5</span>
    <span class="next-page">下一页</span>
</div>

</body>
</html>