<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js" ></script>
    <link href="__PUBLIC__/css/shopManager/common.css" rel="stylesheet">
    <link href="__PUBLIC__/css/shopManager/checkOrder.css" rel="stylesheet">
    <title>管理系统</title>

</head>

<script type="text/javascript">

    function submit(){
        $form = $('#form');
        $form.submit();
    }

</script>

<body>

    <div class="container">
        <img src="__PUBLIC__/icon/managerBack.png" style="width: 100%"/>
        <div class="search-frame">
            <form id="search" action="searchOrder" method="get">
                <input name="out_trade_no" type="text" class="search-input" placeholder="请输入客户提供的校验码以完成确认服务" maxlength="40" required="required">
                <button class="btn-default search-btn" type="submit" >校验</button>
            </form>
        </div>
        <table class="table-border">
            <tr class="table-head-tr">
                <th class="table-th">姓名</th>
                <th class="table-th">车牌号</th>
                <th class="table-th">服务</th>
                <th class="table-th">商家</th>
                <th class="table-th">金额</th>
                <th class="table-th">车型</th>
                <th class="table-th">日期</th>
            </tr>
            <tr>
                <td class="table-td-odd">{$car.name}</td>
                <td class="table-td-odd">{$car.plate_number}</td>
                <td class="table-td-odd">{$goods.goods_name}</td>
                <td class="table-td-odd">{$user.shop_name}</td>
                <td class="table-td-odd">{$order.total_fee}</td>
                <td class="table-td-odd">{$car.car_type}</td>
                <td class="table-td-odd">{$order.pay_date}</td>
            </tr>
        </table>
        <if condition="$fail eq true">
            <div class="verify-error">校验码错误或不可用</div>
            <else/>
            <form id="form" method="post" action="confirmOrder">
                <input name="order_id" value="{$order.id}" type="hidden">
            </form>
            <a class="btn-default confirm-order" onclick="submit()">确认服务</a>
        </if>
    </div>

</body>
</html>