<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js" ></script>
    <link href="__PUBLIC__/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/system/systemhome.css" rel="stylesheet">
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <link href="__PUBLIC__/css/bootstrap/bootstrap-theme.css" rel="stylesheet">
    <title>管理系统</title>

</head>
<body>


<table class="table table-min-width" >
    <thead>
    <tr>
        <th class="user-list-title">姓名</th>
        <th class="user-list-title">电话</th>
        <th class="user-list-title">公司</th>
        <th class="user-list-title">职位</th>
        <th class="user-list-title">余额</th>
        <th class="user-list-title">结算</th>
    </tr>
    </thead>
    <tbody>
        <volist name="proxyInfo" id="v">
        <tr>
            <td class="user-list-cell">{$v.name}</td>
            <td class="user-list-cell">{$v.mobile}</td>
            <td class="user-list-cell">{$v.company}</td>
            <td class="user-list-cell">{$v.position}</td>
            <td class="user-list-cell" style="color: red">{$v.amount}</td>
            <td class="user-list-cell"><a href="proxyDetails?user_id={$v.user_id}" style="color: red">结算</a></td>
        </tr>
        </volist>
    </tbody>
</table>

<div class="page-content">
    <if condition="$page neq 1">
        <a class="next-page" href="__APP__/Home/WXManager/withdrawRequest?page={$page-1}">上一页</a>
    </if>
    <php>
        for($p = 1; $p <= $page_count; $p ++) {
        if($p == $page){
        if(!($page == 1 && $page_count==1)){
        echo '<a class="active-page">'.$p.'</a>';
        }
        }else{
        if($p > $page+2 || $p < $page-2){
        }else{
        echo '<a class="page" href="__APP__/Home/WXManager/withdrawRequest?page='.$p.'">'.$p.'</a>';
        }
        }
        }
    </php>
    <if condition="$page neq $page_count">
        <a class="next-page" href="__APP__/Home/WXManager/withdrawRequest?page={$page+1}">下一页</a>
    </if>
</div>

</body>
</html>