a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
.box{
    margin: auto;
    width: 1024px;
}
.clear{
    overflow: hidden;
    clear: both;
}
.head{
    width: 1024px;
    height: 150px;
    background-image: url("../../images/picture.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
}
.quantity{
    margin-top: 20px;
    border: 1px solid #c1c1c1;
    background-color: #ffffff;
    border-radius: 5px;
    width: 1022px;
    height: 50px;
}
.car-quantity{
    float: left;
    width: 510px;
    height: 50px;
    color: #323232;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
 }
.money-quantity{
    float: left;
    width: 512px;
    height: 50px;
    color: #323232;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
.carNum{
    color: #5a98de;
}
.moneyNum{
    color: #d52828;
}
.table-position-class{
    width: 1024px;
    margin-top: 20px;
    border: 1px solid #c1c1c1;
}
.list_title{
    color: #000000;
    font-size: 18px;
    height: 50px;
    background-color: #d9d8d8;
}
.list_single{
    color: #646464;
    font-size: 14px;
    height: 40px;
    background-color: #ffffff;
}
.list_double{
    color: #646464;
    font-size: 14px;
    height: 40px;
    background-color: #efefef;
}
.shop-td-title{
    cursor: pointer;
    color: #5a98de;
}
.btn{
    display: block;
    height: 40px;
    width: 1024px;
    margin-top: 20px;
    border-color: transparent;
    background-color: #5a98de;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
}
.quantity_box{
    margin-top: 20px;
    width: 1022px;
    position: relative;
}
.shop{
    float: left;
    width: 260px;
    height: 50px;
    color: #323232;
    border-radius: 5px;
    background-color: #5a98de;
    color: #ffffff;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
.shop_quantity{
    float: right;
    width: 720px;
    border: 1px solid #c1c1c1;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
}
.shop_car-quantity{
    float: left;
    width: 360px;
    height: 50px;
    color: #323232;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
.shop_money-quantity{
    float: left;
    width: 360px;
    height: 50px;
    color: #323232;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
.page-content{
    width: 100%;
    text-align: center;
    margin: 30px auto;
}

.next-page{
    font-size: 14px;
    padding: 5px;
    color: #646464;
}
.active-page{
    display:inline-block;
    padding: 2px;
    min-width: 18px;
    min-height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #ffffff;
    background-color: #5a98de;
}
.page{
    display:inline-block;
    padding: 2px;
    min-width: 18px;
    min-height: 18px;
    line-height: 18px;
    font-size: 14px;
    color: #646464;
}
.wire{
    margin-top: 10px;
    width: 1px;
    height: 30px;
    background-color: #c1c1c1;
    position: absolute;
    left: 50%;
    z-index: 9999;

}