a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.clear{
    overflow: hidden;
    clear: both;
}
.box{
    background-color: #ffffff;
}
.genre_box{
    height: 60px;
    width: 100%;
}
.genre{
    width: 35%;
    float: left;
    color: #646464;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
}
.num{
    font-size: 34px;
    color: red;
}
.source{
    float: left;
    font-size: 16px;
    line-height: 60px;
    text-align: left;
    padding-right: 10px;
}
.values{
    float: right;
    font-size: 16px;
    line-height: 60px;
    text-align: right;
    padding-right: 10px;
}