<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>车店详情</title>
    <link rel="stylesheet" href="../../css/share/carShopDetails.css">
</head>
<body style="background-color: #f1f1f1">
<div class="images" style="background-image:url('../../images/1181447003650.jpg'); background-size:100%;">
    <div class="navigate clear"></div>
    <div class="addr_distance">
        <span class="navigate_carStore">豪气万丈豪气万丈豪气万丈</span>
        <span class="navigate_distance">454m</span>
    </div>
</div>
<div class="box">
    <div class="address clear">
        <div class="addr_name">地址</div>
        <div class="type_addr">深圳市南山区海徳三道中洲控股金融中心</div>
    </div>
</div>
<a href="tel:4008693911" class="add_car">一键呼叫管家</a>
</body>
</html>