<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>年审代办</title>
    <link rel="stylesheet" href="../../css/share/examinedCommission.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body style="background-color: #ebebeb">
<div class="logo"></div>
<div class="genre_box">
    <div class="genre"><span>6年内</span><div class="require">七座以下需行驶证、交强险副本</div></div>

    <div class="values">200</div>
</div>
<div class="wire"></div>
<div class="genre_box">
    <div class="genre"><span>6年以上</span> <div class="require">七座以上（含七座）需车到现场，一年一审</div></div>
    <div class="values">450</div>
</div>
<div class="wire"></div>
<div class="genre_box">
    <div class="genres">上门取车</div>
    <div class="values">100</div>
</div>
<a href="tel:4008693911"><div class="add_car">
    <img class="btn" src="../../images/icon/btn_telephone.png" alt="">
    <span class="shout">一键呼叫管家</span>
</div></a>
<div style="height: 45px"></div>
</body>
</html>

