<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>保险咨询</title>
    <link rel="stylesheet" href="../../css/share/privilegeServe.css">
    <script src="../../js/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="clear">
    <div class="number">1</div>
    <div class="details">车险到期报价、比价</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">2</div>
    <div class="details">出险咨询</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">3</div>
    <div class="details">车险到期提醒</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">4</div>
    <div class="details">出险后现场协助处理相关事宜</div>
</div>
<div class="wire"></div>
<div class="clear">
    <div class="number">5</div>
    <div class="details">出险后续跟踪及代办</div>
</div>
<div class="wire"></div>
<div style="height: 45px"></div>
<a href="tel:4008693911" class="add_car">一键呼叫管家</a>
</body>
</html>



