<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>在线问诊</title>
    <link rel="stylesheet" href="../../css/share/privilegeServe.css">
    <script src="../../js/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="clear">
    <div class="number">1</div>
    <div class="details">会员可随时随地线上或线下电话咨询您的爱车在使用过程中所碰到的任何问题，我们将有专业团队专人为您解答，时时刻刻站在您的角度，并为您提出合理的建议，让您省时、省钱、更省心！</div>
</div>
<div class="wire"></div>
<div style="height: 45px"></div>
<a href="tel:4008693911" class="add_car">一键呼叫管家</a>
</body>
</html>
