/**
 * Created by fangboen on 2015/9/9 0009.
 */
html {
  word-break: break-all;
}

div {
  border: none
}

ul, li, ol, dd {
  list-style-type: none; /*clear list style type*/
  margin-left: 0; /*clear ie left indent */
  padding-left: 0; /*clear ie left indent */
}

.pro-banner-warp {
  max-width: 32rem;
  margin: 0 auto;
}

.pro-banner-warp img {
  width: 100%
}

.col-1 {
  max-width: 32rem;
  margin: 0 1rem 0 1rem;
  font-size: 1.2rem;
  color: #666666;
  font-family: "Microsoft Yahei", Arial, sans-serif;
}
.flex-equal-pro{
  margin:0 auto;
  background-color: #ffffff;
  margin-bottom: 0;
}
.flex-equal-pro ul:nth-child(1){
  display: block;
  float: left;
  width:80%;
}
.flex-equal-pro ul:nth-child(2){
  display: block;
  height:3.5rem;
  float: left;
  width:20%;
  border-left: 1px solid #dcdcdc;
}
.pro-shark {
  height: 1.2rem;;
  width: 5.75rem;
  text-align: center;
  color: #999999;
  line-height: 2.4rem;
}
.pro-shark a,.pro-shark a:link {
  color:#ffffff;
}
.flex-equal-pro ul:nth-child(2) a{
  display: block;
}
.pro-shark i {
  height: 1.5rem;
  background-image: url("../../../images/icon/icon-shark2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  vertical-align: middle;
  margin: -1rem 0 0 0.15rem;
  width: 1.5rem;
}
.pro-shark-txt {
  height: 1.2rem;;
  width: 5.75rem;
  text-align: center;
  color: #999999;
  line-height: 2.4rem;
}
.col-2 {
  max-width: 32rem;
  margin: 0 1rem 0 1rem;
  font-size: 1.2rem;
  color: #666666;
  font-family: "Microsoft Yahei", Arial, sans-serif;
}
.col-2 .flex-equal-pro2{
  height: 2.5rem;
  line-height: 2.5rem;
  border: 1px solid #d0d0d0;
  background-color: #eaeaea;
  margin-bottom:0;
}
.col-2 .flex-equal-pro2 li{
  float:left;
  width:50%;
  text-align: center;
  font-size: 1.2rem;
  color: #666666;
}
.col-2 .flex-equal-pro3 {
  height: 2.5rem;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  background-color: #f3f3f3;
}
.col-2 .flex-equal-pro3 li {
  float:left;
  text-align: center;
  font-size: 1.2rem;
  color: #666666;
  width: 50%;
}

.col-4 {
  height:5rem;
  max-width: 32rem;
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  color: #666666;
  font-family: "Microsoft Yahei", Arial, sans-serif;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.flex-equal-pro4 {
  background-color: #ffffff;
  margin-top: 1px;
  margin-bottom: 0;
  justify-content: space-between;
}

.flex-equal-pro4 ul:nth-child(1) {
  float: left;
  width: 90%;
}

.flex-equal-pro4 ul:nth-child(2) {
  float: left;
  width: 2.4rem;
}

.flex-equal-pro4 li:nth-child(1) {
  font-size: 1.2rem;
  color: #333333;
}

.flex-equal-pro4 li:nth-child(2) {
  font-size: 1rem;
  color: #999999;
  margin-left: 3rem;
}

.flex-equal-pro4 .title-icon i {
  margin: -0.3rem 0.6rem 0 1rem;
  width: 1.5rem;
}

.flex-equal-pro4 .more i {
  height: 1.85rem;
  background-image: url("../../../images/icon/arrow_right.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.85rem;
}

/*tabs*/
.shop-nav {
  border-bottom: 0.1rem solid #dcdcdc;
}

#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  width: 50%;
  margin: 0 0 0 0;
  font-size: 1.2rem;
  font-family: "Microsoft Yahei", Arial, sans-serif;
}

#tabs li:nth-child(1) {
  border-right: 0.1rem solid #f2f2f2;
}

#tabs li:nth-child(2) {
  border-right: 0.1rem solid #f2f2f2;
}

#tabs li:nth-child(3) {
  border-right: 0.1rem solid #f2f2f2;
}

#tabs a {
  float: left;
  position: relative;
  padding: 0 0.5rem;
  height: 4rem;
  width: 100%;
  line-height: 4.4rem;
  color: #666666;
  background-color: #ffffff;
  text-align: center;
}

#tabs a:hover,
#tabs a:focus {
  border-bottom-color: #f2f2f2;
  opacity: 1;
  filter: alpha(opacity=100);
}

#tabs a:focus {
  outline: 0;
}

#tabs #current {
  z-index: 3;
  border-bottom: 0.15rem solid #f47a11;
  background-color: #f2f2f2;
  opacity: 1;
  filter: alpha(opacity=100);
}

/**/
.pro-bg {
  max-width: 32rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.pro-bg img {
  width: 100%;
}

.pro-bg h1 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.txt-red {
  color: #ff0000;
  font-size: 1.2rem;
}

.flex-equal-pro h1 i {
  background-image: url("../../../images/icon/code_icon_yellow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.4rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.4rem;
  margin-right: 0.5rem;
}

.txt-gray2 {
  color: #333333;
  font-size: 1.2rem;
  font-family: "Microsoft Yahei", Arial, sans-serif;
  line-height: 1.8rem;
}

.flex-equal-txt {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  background-color: #ffffff;
  margin-top: 1px;
  margin-bottom: 0;
  justify-content: space-between;
  width: 100%;
}

.flex-equal-txt li{
  text-align: left;
  width: 100%;
  height:2rem;
  line-height: 2rem;
}

.auth01 {
  background-image: url("../../../images/icon/icon-auth-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: -0.1rem auto 0;
  width: 1.6rem;
  margin-right: 0.3rem;
}

.auth02 {
  background-image: url("../../../images/icon/icon-auth-02.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: -0.1rem auto 0;
  width: 1.6rem;
  margin-right: 0.3rem;
}

.auth03 {
  background-image: url("../../../images/icon/icon-auth-03.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: -0.1rem auto 0;
  width: 1.6rem;
  margin-right: 0.3rem;
}

.auth04 {
  background-image: url("../../../images/icon/icon-auth-04.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: -0.1rem auto 0;
  width: 1.6rem;
  margin-right: 0.3rem;
}

.auth05 {
  background-image: url("../../../images/icon/icon-auth-05.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: -0.1rem auto 0;
  width: 1.6rem;
  margin-right: 0.3rem;
}

.auth06 {
  background-image: url("../../../images/icon/icon-auth-06.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: -0.1rem auto 0;
  width: 1.6rem;
  margin-right: 0.3rem;
}

/**/
.flex-equal-btn {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-equal-btn li {
  -webkit-box: 1 1 0; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box: 1 1 0; /* OLD - Firefox 19- (buggy but mostly works) */
  -ms-flexbox: 1 1 0; /* TWEENER - IE 10 */
  -webkit-flex: 1 1 0; /* NEW - Chrome */
  flex: 1 1 0;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 50%;
}

.flex-equal-btn li:nth-child(1) {
  background-color: #36b96d;
  border-radius: 0.3rem
}

.flex-equal-btn li:nth-child(2) {
  background-color: #e85253;
  border-radius: 0.3rem
}

.btn-icon-online, .btn-icon-contact {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin: 0.1rem auto;
}

.btn-icon-online i {
  background-color: transparent;
  background-image: url("../../../images/icon/ico_btn_online.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.9rem;
  vertical-align: middle;
  margin: -2px auto 0;
  width: 1.4rem;
}

.btn-icon-contact i {
  background-color: transparent;
  background-image: url("../../../images/icon/ico_btn_contact.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.9rem;
  vertical-align: middle;
  margin: -3px auto 0;
  width: 1.4rem;

}

.footer-ppublic2 {
  height: 4rem;
  background-color: #e9e9e9;
}

.footer-btn {
  height:4rem;
  width:100%;
  padding-top:0;
  margin-top:0;
}

.footer-btn li {
  float: left;
  height: 4rem;
  width: 33.3%;
}
.footer-btn li:nth-child(3) {
  background-color: #f47a11;
}

.swiper-container {
  color: #fff;
  height: auto;
  text-align: center;
  width: 100%;
  max-height: 270px;
}
/*shark*/
.share {
  display: none;
  position: fixed;
  left:0; bottom: 0;
  width: 100%;
  padding-top: 1.25rem;
  border-top: 1px solid #dedede;
  z-index: 999;
  background: #f8f8f8;
}
.share ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 0 0.8rem;
  padding: 0;
  list-style: none;
}
.share ul li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.share li a {
  font-size: 1.32rem;
  color: #333;
}
.share li img {
  width: 5.2rem;
  display: block;
  margin: 0 auto 0.4rem;
}
.share .btn {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #dedede;
  background: #eee;
  font-size: 1.5rem;
}
.txt_org{
  color:#f47a11;
}
a.btn-icon-buy,.btn-icon-online2,.btn-icon-contact2 {
  display: block;
}
.btn-icon-online2, .btn-icon-contact2 {
  line-height: 4rem;
  font-size: 1.2rem;
  color: #333333;
  text-align: center;
  margin: 0.1rem auto;
}
.btn-icon-buy{
  line-height: 4rem;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin: 0.1rem auto;
}
.btn-icon-online2 i {
  background-color: transparent;
  background-image: url("../../../images/icon/ico_btn_online2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  margin: -0.4rem auto 0;
  width: 1.5rem;
}

.btn-icon-contact2 i {
  background-color: transparent;
  background-image: url("../../../images/icon/ico_btn_contact2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  margin: -0.4rem auto 0;
  width: 1.5rem;

}
.pro-bg p{
  font-size:0.8rem;
}
.flex-equal-pro4 .title-icon{
  overflow:hidden;
  padding-right: 1rem;
  white-space:nowrap;
  text-overflow:ellipsis; /* for IE */
  -o-text-overflow: ellipsis; /* for Opera */
  -icab-text-overflow: ellipsis; /* for iCab */
  -khtml-text-overflow: ellipsis; /* for Konqueror Safari */
  -moz-text-overflow: ellipsis; /* for Firefox,mozilla */
  -webkit-text-overflow: ellipsis; /* for Safari,Swift*/
}