/**
 * Created by fangboen on 2015/9/7 0007.
 */
div {
  border: none
}

ul, li, ol {
  list-style-type: none; /*clear list style type*/
  margin-left: 0; /*clear ie left indent */
  padding-left: 0; /*clear ie left indent */
}

.footer-ppublic {
  position: fixed;
  z-index: 99;
  bottom: 0;
  max-width: 32rem;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  background: none no-repeat #e9e9e9;
}

.flex-equal {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-equal li {
  flex: 1 1 0;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 50%;
}

.flex-equal li:nth-child(1) {
  background-color: #f47a11;
  border-radius: 0.3rem
}

.flex-equal li:nth-child(2) {
  background-color: #ff4200;
  border-radius: 0.3rem
}

.btn-icon-online, .btn-icon-contact {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  margin: 0.1rem auto;
}

.btn-icon-online i {
  background-color: transparent;
  background-image: url("../../../images/icon/ico_btn_online.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.9rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.4rem;
}

.btn-icon-contact i {
  background-color: transparent;
  background-image: url("../../../images/icon/ico_btn_contact.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.9rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.4rem;

}

a .btn-icon-online::before {
  background-image: url("../../../images/icon/ico_btn_online.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.9rem;
  margin: 0 auto;
  width: 1.4rem;
}

a .btn-icon-contact::before {
  background-image: url("../../../images/icon/ico_btn_contact.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.9rem;
  margin: 0 auto;
  width: 1.4rem;
}

.code-title {
  height: 5.5rem;
  text-indent: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid #dcdcdc;
  padding-top: 0.11rem;
  padding-bottom: .2rem;
  background-color: #ffffff
}

.code-title li:nth-child(1) {
  font-size: 1.2rem;
}

.code-title li:nth-child(2) {
  font-size: 1rem;
  line-height: 1.8rem
}

.code-title li span {
  color: #ff0000;
  padding-left: 0.2rem;
  padding-right: 0.2rem
}

.auth07 {
  background-image: url("../../../images/icon/code_icon_yellow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.4rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.4rem;
  margin-right: 0.5rem;
}

.code-img {
  width: 70%;
  margin: 0 auto;
}

.code-img img {
  width: 100%;
  margin: 0 auto;
}

.share {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1.25rem;
  border-top: 1px solid #dedede;
  z-index: 999;
  background: #f8f8f8;
}

/*tabs*/
#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  width: 33.3%;
  margin: 0 0 0 0;
  font-size: 1.2rem;
  font-family: "Microsoft Yahei", Arial, sans-serif;
}

#tabs li:nth-child(1) {
  border-right: 0.1rem solid #f2f2f2;
}

#tabs li:nth-child(2) {
  border-right: 0.1rem solid #f2f2f2;
}

#tabs li:nth-child(3) {
  border-right: 0.1rem solid #f2f2f2;
}

#tabs a {
  float: left;
  position: relative;
  padding: 0 0.5rem;
  height: 4rem;
  width: 100%;
  text-align: center;
  line-height: 4.4rem;
  color: #666666;
  background-color: #ffffff;

}

#tabs a:hover,
#tabs a:focus {
  border-bottom-color: #f2f2f2;
  opacity: 1;
  filter: alpha(opacity=100);
}

#tabs a:focus {
  outline: 0;
}

#tabs #current {
  z-index: 3;
  border-bottom: 0.15rem solid #f47a11;
  background-color: #f2f2f2;
  opacity: 1;
  filter: alpha(opacity=100);
}

/*product*/
.flex-equal-pro {
  width: 100%;
  margin: 0 auto;
}

.flex-equal-pro ol {
  float: left;
  width: 50%;
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
}

.pro-bg {
  min-height: 47rem;
  background-color: #ffffff;
  overflow: hidden;
}

.pro-list {
  background-color: #ffffff;
  overflow: hidden;
}

.pro {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  background-color: #ffffff;
}

.pro-list ol {
  font-size: 1.1rem;
  font-family: "Microsoft Yahei", Arial, sans-serif
}

.pro-list ol span {
  color: #ff0000;
  font-size: 1rem;
  font-family: "Microsoft Yahei", Arial, sans-serif
}

.pro-list ol img {
  width: 100%
}

/*supply info*/
.shop-nav {
  border-bottom: 1px solid #dcdcdc;
}

.supply {
  height: 11.1rem;
  border-bottom: 0.1rem solid #dcdcdc;
  margin-bottom: 0.5rem;
  clear: both;
  background-color: #ffffff
}

.supply-top {
  margin-top: 0;
  padding-top: 1rem;
}

.supply-intro {
  height: 11.1rem;
  border-top: 0.1rem solid #dcdcdc;
  border-bottom: 0.1rem solid #dcdcdc;
  margin-bottom: 0.5rem;
  clear: both;
  background-color: #ffffff
}

.base-info {
  height: 13.1rem;
  border-top: 0.1rem solid #dcdcdc;
  border-bottom: 0.1rem solid #dcdcdc;
  margin-bottom: 0.5rem;
  clear: both;
  background-color: #ffffff
}

.supply-info, .supply-ver, .supply-auth-icon, .supply-auth {
  font-size: 1.2rem;
  line-height: 2rem;
}

.supply-info {
  margin-bottom: 0.5rem;
  padding: 0 1rem 0 1rem;
}

.supply-ver, .supply-auth-icon, .supply-auth, .supply-con, .base-info-list {
  padding: 0 1rem 0 1rem;
  font-size: 1.2rem;
}

.supply-info div {
  height: 2rem;
  width: 7.4rem;
  border-left: 0.2rem solid #f47a11;
  background-color: #ededed;
  font-weight: normal;
  padding-left: 0.5rem;
}

.supply-ver i {
  background-image: url("../../../images/icon/code_icon_yellow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.4rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.4rem;
  margin-right: 0.5rem;
}

.supply-auth-icon i:nth-child(1) {
  background-image: url("../../../images/icon/icon-auth-01.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.6rem;
  margin-right: 0.5rem;
}

.supply-auth-icon i:nth-child(2) {
  background-image: url("../../../images/icon/icon-auth-02.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.6rem;
  margin-right: 0.5rem;
}

.supply-auth-icon i:nth-child(3) {
  background-image: url("../../../images/icon/icon-auth-03.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.6rem;
  margin-right: 0.5rem;
}

.supply-auth-icon i:nth-child(4) {
  background-image: url("../../../images/icon/icon-auth-04.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.6rem;
  margin-right: 0.5rem;
}

.supply-auth-icon i:nth-child(5) {
  background-image: url("../../../images/icon/icon-auth-05.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.6rem;
  margin-right: 0.5rem;
}

.supply-auth-icon i:nth-child(6) {
  background-image: url("../../../images/icon/icon-auth-06.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.6rem;
  margin-right: 0.5rem;
}

.supply-auth i {
  background-image: url("../../../images/icon/icon-auth-07.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.6rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.6rem;
  margin-right: 0.5rem;
}

.supply-con {
  line-height: 1.2rem;
  font-size: 1.2rem;
}

.base-info-title {
  float: left;
  max-width: 6rem;
}

.base-info-con {
  float: left;
  width: 17.5rem;
  max-width: 27rem;
}

.supply-con-open, .supply-con-close {
  border-top: 0.1rem solid #dcdcdc;
  text-align: center;
  margin-top: 1.4rem;
  line-height: 2;
}

.supply-con-open i {
  background-color: transparent;
  background-image: url("../../../images/icon/ico_btn_open.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.9rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.4rem;
}

.supply-con-close i {
  background-color: transparent;
  background-image: url("../../../images/icon/ico_btn_close.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 1.9rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 1.4rem;
}

.supply-intro-view {
  display: none;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.1rem;
  border-top: 1px solid #dedede;
  z-index: 999;
  background: #ffffff;
}

.supply-con-open a, .supply-con-close a {
  color: #666666
}

/*contact us*/
.contact-us {
  padding: 0 1rem 1rem 1rem;
  font-size: 1.2rem;
  background-color: #ffffff;
}

.contact-us dl {
  margin-top: 0;
}

.contact-us i {
  background-image: url("../../../images/icon/ico_btn_address.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  margin: 0 auto;
  width: 2rem;
  margin-right: 0.2rem;
  margin-left: 0.9rem;
}

.contact-us dt {
  height: 3.6rem;
  line-height: 3.6rem;
  border-bottom: 0.1rem solid #ececec
}

.supply-hide, .contact-hide {
  display: none;
  padding-top: 0;
}