<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>交易详情</title>
    <link rel="stylesheet" href="__PUBLIC__/css/shop/verifyDetails.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="hint">校验码错误或此电子券不可用</div>
<a href="shopHome" class="add_car">重试</a>
</body>
</html>