<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>交易记录</title>
    <link rel="stylesheet" href="__PUBLIC__/css/shop/tradeRecord.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>

    <volist name="userInfo" id="v">
        <div class="details_box clear">
            <div class="spot"></div>
            <a href="serveDetails?order_id={$v.id}"><div class="ticket">
                <div class="genre_box">
                    <div class="genre">姓名</div>
                    <div class="values">{$v.name}</div>
                </div>
                <div class="genre_box">
                    <div class="genre">车牌号</div>
                    <div class="values">{$v.plate_number}</div>
                </div>
                <div class="genre_box">
                    <div class="genre">日期</div>
                    <div class="values">{$v.use_date}</div>
                </div>
            </div></a>
        </div>
    </volist>
    <div class="vertical_bar"></div>
</body>
</html>