a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
.clear{
    overflow: hidden;
    clear: both;
}
.wire{
    margin-left: 15px;
    margin-right: 15px;
    height: 1px;
    background-color: #e3e3e3;
}
.box{
    background-color: #ffffff;
}
.genre_box{
    height: 60px;
    width: 100%;
}
.genre{
    width: 45%;
    float: left;
    color: #000000;
    font-size: 20px;
    line-height: 60px;
    padding-left: 15px;
}
.values{
    float: right;
    color: #646464;
    font-size: 18px;
    line-height: 60px;
    text-align: right;
    padding-right: 15px;
}
