a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
.clear{
    overflow: hidden;
    clear: both;
}
.wire{
    margin-left: 15px;
    margin-right: 15px;
    height: 1px;
    background-color: #e3e3e3;
}
.wire1{
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
    position:fixed;
    bottom:50px;
    left: 0px;
}
.box{
    background-color: #ffffff;
}
.genre_box{
    height: 70px;
    width: 100%;
}
.genre{
    float: left;
    width: 20%;
    color: #e52828;
    font-size: 20px;
    line-height: 70px;
    padding-left: 15px;
}
.source_box{
    float: right;
    width: 70%;
}
.source{
    color: #323232;
    padding-right: 15px;
    font-size: 18px;
    text-align: right;
    margin-top: 22px;
}
.values{
    color: #949494;
    font-size: 15px;
    text-align: right;
    padding-right: 15px;
    margin-top: 4px
}
.num{
    font-size: 24px;
    color: #e52828;
}
.add_car{
    float: left;
    clear: both;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #949494;
    height: 50px;
    width: 100%;
    margin: 0px;
    position:fixed;
    bottom:0px;
    left: 0px;
    background-color: #ffffff;
    border-color: transparent;
}
