a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.clear{
    overflow: hidden;
    clear: both;
}
.wire{
    margin-left: 10px;
    margin-right: 10px;
    height: 1px;
    background-color: #e3e3e3;
}
.box{
    background-color: #ffffff;
}
.genre_box{
    height: 60px;
    width: 100%;
}
.genre{

    float: left;
    width: 22%;
    color: #646464;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
}
.num{
    font-size: 28px;
    color: red;
}
.source{
    float: left;
    width: 47%;
    font-size: 15px;
    line-height: 60px;
    text-align: center;
}
.values{
    float: right;
    font-size: 15px;
    line-height: 60px;
    text-align: right;
    padding-right: 10px;
}
.add_car{
    font-size: 16px;
    float: left;
    clear: both;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    height: 45px;
    width: 100%;
    margin: 0px;
    position:fixed;
    bottom:0px;
    left: 0px;
    background-color: #ffffff;
    border-color: transparent;
}
