<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>添加爱车</title>
    <link rel="stylesheet" href="../css/share/carSteward.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript">

        var intervalCounter = 0;
        function hideToast()
        {
            var alert = document.getElementById("toast");
            alert.style.opacity = 0;
            clearInterval(intervalCounter);
        }

        function drawToast(message)
        {
            var alert = document.getElementById("toast");
            if (alert == null)
            {
                var toastHTML = '<div id="toast">' + message + '</div>';
                document.body.insertAdjacentHTML('beforeEnd', toastHTML);
            }
            else
            {
                alert.style.opacity = .9;
                alert.innerHTML = message;
            }
            intervalCounter = setInterval("hideToast()", 1000);
        }

        function save()
        {
            if($('#username').val().length < 1){
                drawToast("姓名不能为空");
                return;
            }
            var plate_number = $('#plate_number').val();
            if(plate_number.length < 1){
                drawToast("车牌不能为空");
                return;
            }
            //判断车主车牌号是否含有中文
            if(/.*[\u4e00-\u9fa5]+.*$/.test(plate_number)) {
                drawToast("车牌格式错误");
                return;
            }
            //判断车主车牌号长度是否为六位数
            if(plate_number.length !=6){
                drawToast("车牌格式错误");
                return;
            }
            //判断车主车牌号第一位是否为英文
            var num = plate_number.slice(0,1);
            if (!(/^[A-Za-z]/.test(num))) {
                drawToast("车牌格式错误");
                return;
            }


            //submit
            var form = $("#form");
            form.attr("method", "GET");
            form.attr("action", "addCare");
            form.submit();
        }
        function upload(){

        }
    </script>
</head>
<body>
<form id="form">
    <div class="list_box clear">
        <div class="genre">姓名</div>
        <input class="input-class" maxlength="30" id="username" name="username" type="text" placeholder="（必填）" />
    </div>
    <div class="wire"></div>
    <div class="list_box clear">
        <div class="genre">车牌</div>
        <div class="yueb">粤</div>
        <input class="input-class" maxlength="6" id="plate_number" name="plate_number" type="text" placeholder="（必填）"  />
    </div>
    <div class="wire"></div>
    <a href="carBrand.html" class="myCard"><div class="list_box clear">
        <div class="genre">车型</div>
        <img class="select_images" src="../images/icon/arrow.png" alt="" width="20px">
        <!--<input class="input-class" maxlength="30" name="username" type="text" placeholder="（必填）" />-->
    </div></a>
    <div class="wire"></div>
    <div class="list_box clear" onclick="upload()">
        <div class="genre">行驶证</div>
        <div class="upload">上传</div>
    </div>
    <div class="wire"></div>
    <div class="list_box clear">
        <div class="genre">行驶证</div>
        <img class="steer_images" src="../images/221446476438.jpg" alt="" width="40px">
    </div>
    <div class="wire"></div>
    <a onclick="save()" class="add_car">申请</a>
</form>
</body>
</html>