<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>我的电子券</title>
    <link rel="stylesheet" href="../css/share/carTicket.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body>
<a href="ticketDetails.html"><div class="ticket clear">
    <div class="ticket_left">
        <img class="ticket_image" src="../images/221446476438.jpg" alt="">
        <div class="tel">12334555432</div>
    </div>
    <div class="ticket_center">
        <div class="store_name">豪气万丈豪气万丈</div>
    </div>
    <div class="ticket_right">
        <div class="discount"><span class="number">80000</span>元</div>
        <div class="date">2016-03-20</div>
    </div>
    <img class="examine_image" src="../images/icon/unused.png" alt="">
</div></a>
<a href="ticketDetails.html"><div class="ticket clear">
    <div class="ticket_left">
        <img class="ticket_image" src="../images/221446476438.jpg" alt="">
    </div>
    <div class="ticket_center">
        <div class="store_name">豪气万丈豪气万丈</div>
    </div>
    <div class="ticket_coupon">
        <img class="coupon" src="../images/icon/coupon.png" alt="">
    </div>
    <div class="ticket_right">
        <div class="discount"><span class="number">3.5</span>折</div>
    </div>
    <img class="examine_image" src="../images/icon/usable.png" alt="">
</div></a>
<a href="ticketDetails.html"><div class="ticket clear">
    <div class="ticket_left">
        <img class="ticket_image" src="../images/221446476438.jpg" alt="">
    </div>
    <div class="ticket_center">
        <div class="store_name">豪气万丈豪气万丈</div>
    </div>
    <div class="ticket_coupon">
        <img class="coupon" src="../images/icon/coupon.png" alt="">
    </div>
    <div class="ticket_right">
        <div class="discount"><span class="number">3.5</span>折</div>
    </div>
    <img class="examine_image" src="../images/icon/unused.png" alt="">
</div></a>
<a href="ticketDetails.html"><div class="ticket clear">
    <div class="ticket_left">
        <img class="ticket_image" src="../images/221446476438.jpg" alt="">
    </div>
    <div class="ticket_center">
        <div class="store_name">豪气万丈豪气万丈</div>
    </div>
    <div class="ticket_coupon">
        <img class="coupon" src="../images/icon/coupon.png" alt="">
    </div>
    <div class="ticket_right">
        <div class="discount"><span class="number">3.5</span>折</div>
    </div>
    <img class="examine_image" src="../images/icon/usable.png" alt="">
</div></a>
<a href="ticketDetails.html"><div class="ticket clear">
    <div class="ticket_left">
        <img class="ticket_image" src="../images/221446476438.jpg" alt="">
    </div>
    <div class="ticket_center">
        <div class="store_name">豪气万丈豪气万丈</div>
    </div>
    <div class="ticket_coupon">
        <img class="coupon" src="../images/icon/coupon.png" alt="">
    </div>
    <div class="ticket_right">
        <div class="discount"><span class="number">3.5</span>折</div>
    </div>
    <img class="examine_image" src="../images/icon/unused.png" alt="">
</div></a>
</body>
</html>