<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>特权</title>
    <link rel="stylesheet" href="../css/share/carSteward.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body style="background-color: #ebebeb">
<div class="box">
    <a href="carStore.html"><div class="privlege_box clear">
        <img class="merchant_logo" src="../images/icon/carWash.png" alt="">
        <div class="privlege">豪车美容</div>
    </div></a>
    <div class="wire"></div>
    <a href="privilegeServe/onlineVisits.html"><div class="privlege_box clear">
        <img class="merchant_logo" src="../images/icon/carWash.png" alt="">
        <div class="privlege">在线问诊</div>
    </div></a>
    <div class="wire"></div>
    <a href="privilegeServe/carMaintenance.html"><div class="privlege_box clear">
        <img class="merchant_logo" src="../images/icon/carWash.png" alt="">
        <div class="privlege">保养维修</div>
    </div></a>
    <div class="wire"></div>
    <a href="privilegeServe/insuranceConsult.html"><div class="privlege_box clear">
        <img class="merchant_logo" src="../images/icon/carWash.png" alt="">
        <div class="privlege">保险咨询</div>
    </div></a>
    <!--<div class="wire"></div>
    <a href="privilegeServe/carBeauty.html"><div class="privlege_box clear">
        <img class="merchant_logo" src="../images/icon/carWash.png" alt="">
        <div class="privlege">豪车美容</div>
    </div></a>
    <div class="wire"></div>
    <a href="privilegeServe/roadsideAssistance.html"><div class="privlege_box clear">
        <img class="merchant_logo" src="../images/icon/carWash.png" alt="">
        <div class="privlege">道路救援</div>
    </div></a>-->
    <div class="wire"></div>
    <div class="menu_box clear">
        <a class="menu" style="background-color: #e9e9e9">特权</a>
        <a href="record.html" class="menu">记录</a>
        <a href="members.html" class="menu">会员</a>
        <a href="steward.html" class="menu">管家</a>
    </div>
</div>
<div style="height: 50px"></div>
<div class="wire2"></div>
<div class="wire2_left"></div>
<div class="wire2_center"></div>
<div class="wire2_right"></div>
</body>
</html>



