<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>付款</title>
    <link rel="stylesheet" href="../css/share/qrCode.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body>
<div class="barcode_box"><img class="barcode" src="../images/221446476438.jpg" alt=""></div>
<div class="payment_hint">校验码或校验二维码须提供给商家，以便于商家确认为您服务</div>
</body>
</html>