<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>订单</title>
    <link rel="stylesheet" href="../css/share/order.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body style="background-color: #ebebeb">
<div class="option">
    <a onclick="getList(1)"><span id="wx-card" class="nav-width active">服务中</span></a>
    <a  onclick="getList(2)"><span id="wx-leaflet" class="nav-width">已服务</span></a>
</div>
<div class="box">
    <a href="ticketDetails.html"><div class="ticket clear">
        <div class="ticket_left">
            <img class="ticket_image" src="../images/221446476438.jpg" alt="">
        </div>
        <div class="ticket_center">
            <div class="discount"><span class="number">80000</span>元</div>
            <div class="store_name">豪气万丈豪气万丈</div>
            <div class="date">2016-03-20</div>
        </div>
    </div></a>
    <div class="examine_image"><span>已服务</span></div>
</div>
<div class="box">
    <a href="ticketDetails.html"><div class="ticket clear">
        <div class="ticket_left">
            <img class="ticket_image" src="../images/221446476438.jpg" alt="">
        </div>
        <div class="ticket_center">
            <div class="discount"><span class="number">80000</span>元</div>
            <div class="store_name">豪气万丈豪气万丈</div>
            <div class="date">2016-03-20</div>
        </div>
    </div></a>
    <div class="examine_image"><span>可使用</span></div>
</div>
<div class="box">
    <a href="freeTicketDetails.html"><div class="ticket clear">
        <div class="ticket_left">
            <img class="ticket_image" src="../images/icon/carWash.png" alt="">
        </div>
        <div class="ticket_center">
            <div class="free">免费精洗券</div>
            <div class="date">2016-03-20</div>
        </div>
    </div></a>
    <div class="examine_image"><span>已服务</span></div>
</div>
<div class="box">
    <a href="freeTicketDetails.html"><div class="ticket clear">
        <div class="ticket_left">
            <img class="ticket_image" src="../images/icon/carWash.png" alt="">
        </div>
        <div class="ticket_center">
            <div class="free">免费精洗券</div>
            <div class="date">2016-03-20</div>
        </div>
    </div></a>
    <div class="examine_image"><span>可使用</span></div>
</div>

<div class="menu_box clear">
    <a href="privilege.html" class="menu">特权</a>
    <a class="menu" style="background-color: #e9e9e9">记录</a>
    <a href="members.html" class="menu">会员</a>
    <a href="steward.html" class="menu">管家</a>
</div>
<div style="height: 80px"></div>
<div class="wire2"></div>
<div class="wire2_left"></div>
<div class="wire2_center"></div>
<div class="wire2_right"></div>
</body>
<script>

    function getList(category){

        var card = $("#wx-card");
        var leaflet = $("#wx-leaflet");
        card.removeClass('active');
        leaflet.removeClass('actives');
        if(category == 1){
            card.addClass('active');
        }else{
            leaflet.addClass('actives');
        }
    }

</script>
</html>
