<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>选择爱车</title>
    <link rel="stylesheet" href="../css/share/carTicket.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body>
<a href="ticketDetails.html" class="myCard">
    <div class="list_box clear">
        <div class="car_name">爱车1</div>
        <div class="state_card">粤B 123456</div>
    </div>
</a>
<div class="wire"></div>
<a href="ticketDetails.html" class="myCard">
    <div class="list_box clear">
        <div class="car_name">爱车2</div>
        <div class="state_card">粤B 123456</div>
    </div>
</a>
<div class="wire"></div>
<a href="ticketDetails.html" class="myCard">
    <div class="list_box clear">
        <div class="car_name">爱车3</div>
        <div class="state_card">粤B 123456</div>
    </div>
</a>
<div class="wire"></div>
</body>
</html>