<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>店内</title>
    <link rel="stylesheet" href="../css/share/carTicket.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body style="background-color: #ebebeb">
<div class="images" style="background-image:url('../images/1181447003650.jpg'); background-size:100%;">
    <div class="navigate clear">
        <span class="navigate_carStore">豪气万丈豪气万丈豪气万丈</span>
        <span class="navigate_distance">454m</span>
    </div>
</div>
<div class="address">地址 &nbsp;&nbsp;深圳市南山区海徳三道中洲控股金融中心</div>
<div class="wire"></div>
<div class="tel">电话 &nbsp;&nbsp;<a href="tel:17653363784">1765336378</a></div>
<div class="wire"></div>
<div>
    <div class="services">服务项目</div>
    <div>
        <div class="item">洗车</div>
        <div class="primary">原价:&nbsp;<del>120</del></div>
        <div class="vip">会员价:&nbsp;<span class="vip_price">50</span></div>
        <div class="buy"><a href="selectCar.html">购买</a></div>
    </div>
</div>
<div style="height: 120px"></div>
<a href="tel:0755-84356032" class="add_car">联系管家</a>
</body>
</html>