<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>店内</title>
    <link rel="stylesheet" href="../css/share/carTicket.css">
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body style="background-color: #f1f1f1">
<div class="images" style="background-image:url('../images/1181447003650.jpg'); background-size:cover;">
    <div class="navigate clear"></div>
    <div class="addr_distance">
        <span class="navigate_carStore">豪气万丈豪气万丈豪气万丈</span>
        <span class="navigate_distance">454m</span>
    </div>
</div>
<div class="box">
    <div class="address clear">
        <div class="addr_name">地址</div>
        <div class="type_addr">深圳市南山区海徳三道中洲控股金融中心</div>
    </div>
    <div class="wire"></div>
    <div class="type_box clear">
        <div class="type_name">联系电话</div>
        <div class="type_content"><a href="tel:17653363784">1765336378</a></div>
    </div>
    <div class="wire"></div>
    <div class="type_box clear">
        <div class="type_name">服务项目</div>
        <div class="type_content">洗车</div>
    </div>
    <div class="wire"></div>
    <div class="type_box clear">
        <div class="primary">原价:&nbsp;￥120</div>
        <div class="vip">会员价:&nbsp;￥50</div>
        <div class="buy"><a class="purchase" href="selectCar.html">购买</a></div>
    </div>
</div>
<div style="height: 120px"></div>
<a href="tel:4008693911" class="add_car">一键呼叫管家</a>
</body>
</html>