<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>添加代理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/agency/addAgency.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript">

        var intervalCounter = 0;
        function hideToast()
        {
            var alert = document.getElementById("toast");
            alert.style.opacity = 0;
            clearInterval(intervalCounter);
        }

        function drawToast(message)
        {
            var alert = document.getElementById("toast");
            if (alert == null)
            {
                var toastHTML = '<div id="toast">' + message + '</div>';
                document.body.insertAdjacentHTML('beforeEnd', toastHTML);
            }
            else
            {
                alert.style.opacity = .9;
                alert.innerHTML = message;
            }
            intervalCounter = setInterval("hideToast()", 1000);
        }

        function save()
        {
            if($('#username').val().length < 1){
                drawToast("姓名不能为空");
                return;
            }
            if($('#phone').val().length < 1){
                drawToast("电话不能为空");
                return;
            }
            if($('#company').val().length < 1){
                drawToast("公司不能为空");
                return;
            }
            if($('#post').val().length < 1){
                drawToast("职位不能为空");
                return;
            }

            //submit
            var form = $("#form");
            form.attr("method", "POST");
            form.attr("action", "becomeProxy");
            form.submit();
        }
    </script>
</head>
<body>
<form id="form">
    <div class="list_box clear">
        <div class="genre">姓名</div>
        <input class="input-class" maxlength="30" id="username" name="name" type="text" placeholder="（必填）" />
    </div>
    <div class="wire"></div>
    <div class="list_box clear">
        <div class="genre">电话</div>
        <input class="input-class" maxlength="30" id="phone" name="mobile" type="text" placeholder="（必填）" />
    </div>
    <div class="wire"></div>
    <div class="list_box clear">
        <div class="genre">公司</div>
        <input class="input-class" maxlength="30" id="company" name="company" type="text" placeholder="（必填）" />
    </div>
    <div class="wire"></div>
    <div class="list_box clear">
        <div class="genre">职位</div>
        <input class="input-class" maxlength="30" id="post" name="position" type="text" placeholder="（必填）" />
    </div>
    <div class="wire"></div>
    <a onclick="save()" class="add_car">提交</a>
</form>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/wx/wxOperate.js"></script>
<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList : []
    });
    operate.initCloseShare();
</script>
</body>
</html>