<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>审核通过</title>
    <link rel="stylesheet" href="__PUBLIC__/css/agency/auditPass.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
    <script type="application/javascript">
        jQuery(function($){
            var shade=document.getElementById("shade");
            var share=document.getElementById("share");
            var agency=document.getElementById("agency");
            var user=document.getElementById("user");
            agency.onclick=function()
            {
                shade.style.display="block";
                share.style.display="block";
            }
            user.onclick=function()
            {
                shade.style.display="block";
                share.style.display="block";
            }
            shade.onclick=function()
            {
                shade.style.display="none";
                share.style.display="none";
            }
            share.onclick=function()
            {
                shade.style.display="none";
                share.style.display="none";
            }
        })
    </script>
</head>
<body>
<div class="shade" id="shade"></div>
<div class="share" id="share" style="background: url('__PUBLIC__/icon/fx.png') no-repeat top right">点击右上角菜单分享</div>
<div class="list_box clear">
    <div class="genre">姓名</div>
    <div class="worth">{$user.name}</div>
</div>
<div class="wire"></div>
<div class="list_box clear">
    <div class="genre">电话</div>
    <div class="worth">{$user.mobile}</div>
</div>
<div class="wire"></div>
<div class="list_box clear">
    <div class="genre">公司</div>
    <div class="worth">{$user.company}</div>
</div>
<div class="wire"></div>
<div class="list_box clear">
    <div class="genre">职位</div>
    <div class="worth">{$user.position}</div>
</div>
<div class="wire"></div>
<div class="audit">审核通过</div>
<div class="menu_box clear">
    <a id="agency" class="menu">推荐代理</a>
    <a id="user" class="menu">推荐用户</a>
</div>
<div class="wire2_center"></div>
</body>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/wx/wxOperate.js"></script>
<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList : [ "onMenuShareTimeline", "onMenuShareAppMessage",
        "onMenuShareQQ", "onMenuShareWeibo" ]
    });

    var params = {
        title : "test", // 分享标题
        desc : "test", // 分享描述
        link : "xxxxxxxx",
        imgUrl : "" // 分享图标
    };

    operate.initOpenShare(params);

</script>

</html>