<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>我的代理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/agency/myAgency.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>
<div class="box">

    <volist name="proxyList" id="proxy">
        <div class="genre_box">
            <div class="genre">{$proxy.name}</div>
            <div class="values">{$proxy.add_date}</div>
        </div>
        <div class="wire"></div>
    </volist>

</div>
</body>
</html>