<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>我的钱包</title>
    <link rel="stylesheet" href="__PUBLIC__/css/agency/myWallet.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>

<div class="box">
    <volist name="tradeList" id="trade">
        <div class="genre_box">
            <div class="genre"><span class="num">{$trade.amount}</span>积分</div>
            <div class="source">{$trade.content}</div>
            <div class="values">{$trade.add_date}</div>
        </div>
        <div class="wire"></div>
    </volist>
</div>
<div class="add_car">当前收益<span class="num">{$total}</span>积分</div>

</body>
</html>