<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>我的钱包</title>
    <link rel="stylesheet" href="__PUBLIC__/css/agency/myWallet.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
</head>
<body>

    <volist name="tradeList" id="trade">
        <div class="box">
            <div class="genre_box clear">
                <div class="genre">{$trade.amount}积分</div>
                <div class="source_box">
                    <div class="source">{$trade.content}</div>
                    <div class="values">{$trade.add_date}</div>
                </div>
            </div>
        </div>
        <div class="wire"></div>
    </volist>

    <div class="earnings">当前收益<span class="num">{$total}</span>积分</div>
    <div style="height: 50px"></div>
    <div onclick="withdraw()" class="add_car">提现</div>

</body>

<script>

    //提现
    function withdraw(){

        var ret = confirm('您可提现一共{$total}元');
        if(ret){
            $.ajax({
                type: "POST",
                dataType: "json",
                timeout: 10000,
                url: "__URL__/tradeWithdraw?" + Math.random(),
                success: function (rData) {
                    var response = eval(rData);
                    if (response && response.status == 1) {
                        drawToast("申请成功");
                    }else{
                        drawToast('申请失败，请重试');
                    }
                },
                error: function (error) {
                    drawToast('申请失败，请重试');
                    //alert('您好、当前服务器正忙、请稍后……');
                    return false;
                }
            })
        }
    }

    var intervalCounter = 0;
    function hideToast()
    {
        var alert = document.getElementById("toast");
        alert.style.opacity = 0;
        clearInterval(intervalCounter);
    }

    function drawToast(message)
    {
        var alert = document.getElementById("toast");
        if (alert == null)
        {
            var toastHTML = '<div id="toast">' + message + '</div>';
            document.body.insertAdjacentHTML('beforeEnd', toastHTML);
        }
        else
        {
            alert.style.opacity = .9;
            alert.innerHTML = message;
        }
        intervalCounter = setInterval("hideToast()", 1000);
    }

</script>

</html>