<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>暂无代理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/agency/notAgency.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
    <script type="application/javascript">
        jQuery(function($){
            var shade=document.getElementById("shade");
            var share=document.getElementById("share");
            var agency=document.getElementById("agency");
            agency.onclick=function()
            {
                shade.style.display="block";
                share.style.display="block";
            }
            shade.onclick=function()
            {
                shade.style.display="none";
                share.style.display="none";
            }
            share.onclick=function()
            {
                shade.style.display="none";
                share.style.display="none";
            }
        })
    </script>
</head>
<body>
<div class="shade" id="shade"></div>
<div class="share" id="share" style="background: url('__PUBLIC__/icon/fx.png') no-repeat top right">点击右上角菜单分享</div>
<div class="not">暂无代理</div>
<a id="agency" class="recommendAgency">推荐代理</a>
</body>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/wx/wxOperate.js"></script>
<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList : [ "onMenuShareTimeline", "onMenuShareAppMessage",
        "onMenuShareQQ", "onMenuShareWeibo" ]
    });

    var params = {
        title : "品位环球", // 分享标题
        desc : "{$user.name}在“品位环球”，一个高端车辆车主管家式服务平台，期待您的加入", // 分享描述
        link : "{$Think.const.HTTP_HOST}/BusinessServer/index.php/Home/WXProxy/shareQrcode?user_id={$user.user_id}",
        imgUrl : "http://114.215.95.23/BusinessServer/Public/icon/carWash.png" // 分享图标
    };

    operate.initOpenShare(params);

</script>

</html>