<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>暂无代理</title>
    <link rel="stylesheet" href="__PUBLIC__/css/agency/notEarnings.css">
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js"></script>
    <script type="application/javascript">
        jQuery(function($){
            var shade=document.getElementById("shade");
            var share=document.getElementById("share");
            var user=document.getElementById("user");
            user.onclick=function()
            {
                shade.style.display="block";
                share.style.display="block";
            }
            shade.onclick=function()
            {
                shade.style.display="none";
                share.style.display="none";
            }
            share.onclick=function()
            {
                shade.style.display="none";
                share.style.display="none";
            }
        })
    </script>
</head>
<body>
<div class="shade" id="shade"></div>
<div class="share" id="share" style="background: url('__PUBLIC__/icon/share.png') no-repeat top right">点击右上角菜单分享</div>
<div class="not">暂无收益</div>
<a id="user" class="recommendAgency">推荐用户</a>
</body>

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="__PUBLIC__/js/wx/wxOperate.js"></script>
<script>

    wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
            nonceStr: '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList : [ "onMenuShareTimeline", "onMenuShareAppMessage",
        "onMenuShareQQ", "onMenuShareWeibo" ]
    });

    var params = {
        title : "品位环球", // 分享标题
        desc : "您的商务私人管家服务平台。定制生活，从此开始。", // 分享描述
        link : "{$Think.const.HTTP_HOST}/BusinessServer/index.php/Home/WXProxy/shareQrcode?type=1&user_id={$user.user_id}",
        imgUrl : "{$Think.const.HTTP_HOST}/BusinessServer/Public/icon/carWash.png" // 分享图标
    };

    operate.initOpenShare(params);

</script>

</html>