
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>车管家</title>

    <!-- Bootstrap core CSS -->
    <script src="__PUBLIC__/js/jquery-2.2.0.min.js" ></script>
    <link href="__PUBLIC__/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/shopAdmin/login.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <form action="loginVerify" method="post" class="form-signin">
        <label for="inputUsername" class="sr-only">用户名</label>
        <input type="text" name="mobile" id="inputUsername" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <if condition="$error eq 1">
            <div class="login-error">用户名或密码错误</div>
        </if>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>

</div>

</body>
</html>
