/*重置*/
body{background-color:#f2f2f2;}
body,dl,dd,h1,p{margin:0;}
ul{margin:0;padding:0;}
a{text-decoration:none;}
li{list-style:none;}
img{display:block;}
/**{font-size:14px;color:#7d7d7d;font-family:Helvetica,"微软雅黑";}*/

.wrapper {
    /*border: 2px solid #000000;*/
    max-width: 640px;
    /*height: 800px;*/
    margin: 0 auto;
}
.clear{
    overflow: hidden;
    clear: both;
}
#header{
    height: 50px;
    background-color: #deb574;
    margin: 0 auto 0 auto;
}
.details{
    font-size: 24px;
    /*font-weight: bold;*/
    line-height: 50px;
    text-align: center;
    /*text-indent: 40px;*/
    color: #ffffff;
}
.images{
    width: 100%;
    height: 16rem;
    background-position:center;
}
#circleName{
    padding-right: 15px;
    margin-top: 5px;
}
.name{
    padding-left: 10px;
    padding-bottom: 5px;
    /*font-size: 22px;*/
    line-height: 25px;
    color: #000000;
}
.follow{
    float: right;
    color: #8c8c8c;
    /*font-size: 14px;*/
}
.introduce{
    padding-left: 10px;
    padding-top: 5px;
    /*font-size: 22px;*/
    color: #000000;
}
.intro{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-indent: 2em;
    /*font-size: 18px;*/
    line-height: 20px;
    color: #000000;
}
.intro a{
    float: right;
    /*font-size: 20px;*/
    color: #3399ff;
}
.addr{
    /*padding-left: 60px;*/
    /*padding-right: 10px;*/
    padding: 12px 10px 12px 50px;
    /*font-size: 18px;*/
    /*overflow:hidden;*/
    line-height: 15px;
    color: #000000;
}
.tel{
    padding-left: 50px;
    /*font-size: 18px;*/
    line-height: 40px;
    color: #000000;
}
.emsName{
    padding-left: 50px;
    /*font-size: 18px;*/
    line-height: 40px;
    color: #000000;
}
.web{
    padding-left: 50px;
    /*font-size: 18px;*/
    line-height: 40px;
    /*border: 1px solid #ffff00;*/
    color: #000000;
}
.wx_qrcode{
    margin: 1px 10px 0px 1px;
    float: right;
}
.icon1{
    float: left;
    width: 40px;
    height: 40px;
}
.icon2{
    float: left;
    margin: 3px;
    width: 34px;
    height: 34px;
}
.like{
    float: left;
    margin: 5px 2px auto auto;
}
.wire1{
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
}
.wire2{
    width: auto;
    height: 1px;
    margin-left: 50px;
    background-color: #e9e9e9;
}
.account-btn{
    margin-top: 1.4rem;
}
.btn-submit{
    display: block;
    width: 98%;
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: #bdb76b;
    margin: 20px auto;
}
.btn-submit.ban{
    background-color: #e6e6e6;
}

html{font-size: 18px;}
.wrapper{max-width: 520px}
.footer{max-width: 520px;}
.introduce, .name{font-size: 20px}
/*.introduce{font-size: 24px}*/
@media screen and (max-width:520px){
    html{font-size: 18px;}
    .introduce, .name{font-size: 19px}
}
@media screen and (max-width:480px){
    html{font-size: 17px;}
    .introduce, .name{font-size: 18px}
}
@media screen and (max-width:440px){
    html{font-size: 16px;}
    .introduce, .name{font-size: 17px}
}
@media screen and (max-width:400px){
    html{font-size: 15px;}
    .introduce, .name{font-size: 16px}
}
@media screen and (max-width:360px){
    html{font-size: 14px;}
    .introduce, .name{font-size: 15px}
}

@media screen and (max-width:319px){
    html{font-size: 13px;}
    .introduce, .name{font-size: 14px}
}