<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <title>我的红包</title>
    <link rel="stylesheet" href="../css/share/redPacket.css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-1.8.1.min.js"></script>
</head>
<body style="background-color: #F7F9F8">
<div class="clear" style="background: url('../images/icon/redPacket.png') no-repeat; background-size: 100% 76px">
    <div><img class="head_image aligncenter" src="../Uploads/71445775226_sub.jpg" alt=""></div>
    <div class="receive">石头姑娘。你收到了</div>
    <div class="quantity">2<span class="unit">元</span></div>
    <div class="guide_box clear"><img class="gain_redPacket_icon" src="../images/icon/indicate.png" alt=""><a href="redPacketGain.html" class="gain_redPacket">如何获取红包</a><a href="redPacketRecord.html" class="get_redPacket">领取红包记录</a><img class="record_redPacket_icon" src="../images/icon/record.png" alt=""></div>
</div>
<div style="height: 15px"></div>
<div class="list_box"><a href="redPacketDetail.html">
    <div class="clear"><span class="names">商务圈</span><span class="money">2元</span></div>
    <div class="clear"><span class="times">01-12</span></div></a>
</div>
<div class="wire"></div>
<div class="list_box"><a href="redPacketDetail.html">
    <div class="clear"><span class="names">商务圈</span><span class="money">2元</span></div>
    <div class="clear"><span class="times">01-12</span></div></a>
</div>
<div class="wire"></div>
</body>
</html>
